
.jobs-history {
  .input-label2 {
   white-space: normal !important;
   max-width: 40% !important;
   left: 30px;
   font-size: 18px;
   color: $orange;
   // width: 100%;
 }

.colorbg {
  background-color: $green;
}

.item-note{
  color: $grey;
}
 .job-list{
   margin-bottom: 10px;
   border-radius: 10px;
 }

label.job-status {
  color: $white;
  font-size: 16px;
  font-weight: bold;
   margin-bottom: 5px;
}

 .list-icon{
   font-size: 20px;
 }
}
