// Brand colors
$purple: #9579b7;
$dark-purple: #2F2F2F;
$black: #444;
$dark-grey: #2F2F2F;
$dark-grey-tapped: #4A4A4A;

$green: #39DB80;

$grey: #7F7F7F;
$hover-grey: #898989;

$medium-grey: #e9e8ea;
$light-grey: #e2e2e2;

$header-grey: #9B9B9B;
$light-grey2: #C5C5C5;
$white: #fff;
$smoke-white: #f5f5f5;

$red: #F04E62; // Ionic overrides

//$hover-orange: #FDC4A6;
$hover-orange: #FC9159;


//$item-divider-bg: #FDC4A6;
//$item-divider-color:#FDC4A6;



$orange: #EF722F;


$detailorange: #EFA22F;
//$detailorange: #2F2F2F;
$hover-detailorange: #FFB444;
//$light-orange: #E8844F;
$light-orange: #dd6a29;

$colors: (
  orange: #EF722F,
  white: #fff,


);

// $light:                           #fff !default;
// $stable:                          #f8f8f8 !default;

/// Stable affects job info footer///

$stable: $orange !default; // $positive:                        #387ef5 !default;
$positive: $orange !default; // $calm:                            #11c1f3 !default;
// $balanced:                        #33cd5f !default;
$energized: $green !default;
// $assertive:                       #ef473a !default;
$assertive: $light-grey2 !default;

 // $royal:                           #886aea !default;
 $royal: $white !default;
// $dark:                            #444 !default;
$modal-bg-color: #fff !default;
$modal-backdrop-bg-active: #000 !default;
$modal-backdrop-bg-inactive: rgba(0,0,0,0) !default;
$modal-inset-mode-break-point: 0 !default;
// @media min-width
$modal-inset-mode-top: 20% !default;
$modal-inset-mode-right: 10% !default;
$modal-inset-mode-bottom: 30% !default;
$modal-inset-mode-left: 10% !default;
$modal-inset-mode-min-height: 140px !default;

// The path for our ionicons font files, relative to the built CSS in www/css

$ionicons-font-path: "../lib/ionic/fonts" !default; // Include all of Ionic
@import "www/lib/ionic/scss/ionic"; // Include our partials for view-specific styles
@import "www/app/consumer/chat/chat";
@import "www/app/consumer/create-job/create-job";
@import "www/app/consumer/job-detail/job-detail";
@import "www/app/consumer/home/home";
@import "www/app/consumer/share/share";
// @import "www/app/consumer/yourJobs/yourJobs";
@import "www/app/consumer/jobs-history/jobs-history";
//@import "www/app/consumer/home/squares";
@import "www/app/consumer/sign-up/sign-up";
@import "www/app/landing/landing";
@import "www/app/panda/job-apply/job-apply";
@import "www/app/panda/job-detail/job-detail";
@import "www/app/panda/jobs-list/jobs-list";

@import "www/app/panda/jobs-history/jobs-history";

@import "www/app/panda/yourJobs/yourJobs";

@import "www/app/layout/layout";
@import "www/app/panda/sign-up/sign-up"; // App-wide custom styles


// .title-image-consumer{
//     margin-top: 14px;
//     height: 18px;
// }

.title-image-hero {
    margin-bottom: 3px;
    height: 35px;
}
///Header images with y or g///
.title-img {
    margin-top: 14px;
    height: 18px;

}
///header images without y or g///
  .title-img2 {
        margin-top: 14px;
        height: 14px;
}

.title-image {
      margin-top: 14px;
      height: 22px;
}





.ionic-body,
body {
  color: $orange;
//  padding-top: constant(safe-area-inset-top);//for iOS 11.2
//  padding-top: env(safe-area-inset-top);//for iOS 11.1
}

h1,
h2,
h3,
h4,
h5 {
  // color: $dark-purple;
  color: $orange;
font-family: sans-serif ;

}

.hidden {
  display: none;
}

.input-label,
.item,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
/////color of font in settings
textarea {
  color: #7F7F7F;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $orange;
}

.scroll-bar-indicator{
    display: none;
}

.homeBackground {
  background-color: $smoke-white !important;
}

.homeFooter {
  height: 120px;
  background: transparent;

}


.item {
  font-size: 15px;
  font-weight: 500;
}

.settingstxt {
  font-size: 1px;
}

.modal-corders {
border-radius: 50px;
}

.button {
border-radius: 100px;
}

.button:hover {
  color: $white;
}

.button.active, .button.activated {
  border-color: transparent;
  background-color: $hover-orange; }


.padding-horizontal {
  padding: 0 20px;
}

.has-footer-tall {
  bottom: 160px;
}

.item-left {
  margin: 0px;
}

.pull-left {
  float: left;
}

.viewMore {
  color: $dark-grey;
}

.orangeText {
  color: $orange;
}

.pull-center {
  display: block;
  display: inline-block;
  //margin:auto 0;
   margin-left: 30%;
  //margin-right: 10%;
}

.pull-right {
  float: right;
}

.bold {
  font-weight: bold;
}

form {
  .item {
    border-width: 0 0 2px 0;
    border-color: $dark-purple;
    padding: 6px 0 5px;

    &:last-child {
      border-width: 0 0 1px 0;
    }
  }

  .item-icon-left {
    .icon {
      left: 0px;
    }

    .input-label {
      padding-left: 40px;
    }
  }
}

.placeholder-icon {
  color: $orange;
  font-size: 25px;
}

ion-modal-view {

  ion-header-bar {
    background-color: $white !important;
    color: $orange;
  }

h1{
  color: $grey !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

h4{
  color: $grey;
  font-size: 16px !important;
}

  .bar-light .button.button-clear,
  .bar.bar-light .title {
    color: $orange !important;
   background-color: transparent;
    ///background: $white;
    //width: 90%;
    //text-align: center;
    //padding-right: 100px;

  }



  //.icon,
  p {
    color: $orange;
  }

.titleModal {
  color: $orange;
}

  //.icon {
  //  font-size: 72px;
  //  line-height: 1.25;
  //}

  .iconSuccess {
    color: $green;
    font-size: 72px;
    line-height: 1.25;

  }

  .iconFail {
    color: $red;
    font-size: 72px;
    line-height: 1.25;

  }

h4{
  color: $grey;
  font-size: 13px;
}

  p {
    color: $grey;
    font-size: 12px;
  }







  .youGotTheJob {
    h4 {
      font-size: 10px;
      margin: 3px;
      color: $grey !important;
    }

    h5 {
    font-size: 13px;
      color: $grey !important;
    }
  }
}

.spacer {
  height: 25px;
}

.borderround {
  border-radius: 25px;
}

.modal {
  border-radius: 4px;

  ion-content {
    padding: 5%;
  }
}

.input-label {
  font-size: 12px;
  color: $dark-grey;
  font-weight: normal;
}

.textarea-large {
  min-height: 100px;
}


.content-center {
  display: table !important;
  width: 100% !important;
  height: 100% !important;

  .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}



.footer-tall {
  height: 175px;
  background-color: $smoke-white !important;


.job-detail-footer{
  background-color: $smoke-white !important;
  position: fixed;
  bottom: 0px;
  height: 175px;
  margin: 10px 10px 10px 10px;

}

  form {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white;
  }

  h5 {
    font-size: 20px;
  }


  .title {
    top: inherit;
    right: 0 !important;
    bottom: 0;
    left: 0 !important;
  }
}

.error-block,
.form-errors span {
  color: $red;
}

form .item.form-errors {
  border-color: $red;
}

.button-rounded {
  border-radius: 50px;
}

.greyLbl{
  color: $grey;
}

.round {
  border-radius: 50%;
}

.link-blank {
  color: $white;
}

.bar-button {
  padding: 0;

  .button-full {
    margin: 0;
    font-size: 20px;
  }
}
///Navigation Bar? Part of the ion bar is still white


ion-header-bar {
  background-color: $orange !important;
}


.bar-light .button.button-clear,
.bar.bar-light .title {
  color: $white;
 background-color: transparent;
  ///background: $white;
  //width: 90%;
  //text-align: center;
  //padding-right: 100px;

}

.bar-assertive {
  form {
    .item {
      background: $orange;
      border-width: 0 0 1px 0;
      border-color: $grey;
      color: $grey;
    }

    .input-label,
    input {
      color: $grey;
    }
  }
}




.bar-positive {
  form {
    .item {
      background: $orange;
      border-width: 0 0 1px 0;
      border-color: $orange;
    }

    .input-label,
    input {
      color: $orange;
    }
  }
}

.swiper-pagination-bullet-active {
  background: $orange;
}
//// chore hero available chores icon and text///
.item-icon-left {
  .icon {

  }

  .item-content {
    padding-left: 54px;
  }
}
//// make un hidden to add checkmarke on job-type///
.item-radio input:checked + .radio-content .radio-icon {
  visibility: hidden;
  //color: $white;
}
/////job.type.html//// CSS for colors when clicked and unclicked///
.item-radio input:checked + .radio-content .item-content {
  //background: $hover-orange;
  color: $orange !important;
  //font-size: 20px;

  .icon {
    color: $orange;
    font-size: 20px;
  }
}

.item-icon-left2 {
  .icon {
    color: $orange;
    font-size: 20px;
    margin-right: 20px;
  }

  .item-content {
    padding-left: 20px;
  }
}

.job-typeheader {
  color: $grey;
}



.profile-picture {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100%;
  border: 8px solid $white;
  box-shadow: 0 0 0 8px $orange,
              0 0 0 2px #ddd;
}

.chat-profile-picture {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 100%;
  border: 1.5px solid $white;
  box-shadow: 0 0 0 1.5px $orange,
                0 0 0 2px #ddd;
}


.chat-profile-header {
//  display: inline-block;
  margin-top: 5px;
  height: 30px;
//  margin-right: 5px;
border-radius: 100%;
 border: 1px solid $orange;
  box-shadow: 0 0 0 1px $white,
                0 0 0 0px #ddd;
}



.profile-picture-card {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 3px solid $orange;
  box-shadow: 0 0 0 3px $white,
                0 0 0 2px #ddd;
}

.profile-picture-card2 {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 3px solid $white;
  box-shadow: 0 0 0 3px $orange,
                0 0 0 2px #ddd;
}

.profile-picture-card3 {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 3px solid $white;
  box-shadow: 0 0 0 3px $orange,
                0 0 0 2px #ddd;
}






.profile-picture-sm {
  width: 40px;
  height: 40px;
  border-radius: 20px;

}

.profile-picture.add {
  background-image: url('../img/prof-pic_default.png');
  background-size: 100%;
  border: 2px solid $white;
  color: $white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
//////////////////////////////
//Time Picker Screen//
//////////////////////////////

.timepicker {
  text-align: center;

  h1 {
    color: $white;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
  }

  h2 {
    color: $white;
    margin-top: 100px;
    font-size: 25px;
    font-weight: normal;
  }
}
//////////////////////////////
//End Time Picker Screen//
//////////////////////////////
//////////////////////////////
//ChoreMenu//
//////////////////////////////

label.menu-lbl {
  position: relative;
  color: $white !important;
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-left: 10px;
  text-align: left;
//  left: 10px;
}

label.menu-lbl2 {
  position: relative;
  color: $white !important;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-left: 10px;
  text-align: left;
//  left: 10px;
}


.bottomMargin{
  padding-bottom: 175px;
  //color: $orange !important;

}



.workermode{
  //background: $orange;
  color: $white;

}

.pandaRadius {
  .range {
    border: none;
    background-color: $white;
  }

  img {
    width: 40px;
    height: 40px;
    float: right;
  }

  h5 {
    text-align: center;
    color: $white;
    font-weight: bold;
    font-size: 15px;


  }
}

.imageDiv {
  text-align: center;
}


.buttonIcon{
//position: absolute;
   background-color: $white;
//  color: $orange;
  border-radius: 50%;
  //border: white;
//  border: 0px;
//  icon-width: 100px;
  //font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
   float: right;

  border-width: 0px;
  margin-left: -90px;
  margin-top: 130px;
}

.buttonIcon:not([disabled]):active {
//  background-color: Transparent;
color: $orange;
//border: Transparent;


//color: white;
}


.ion-android-create {
position: absolute;
  font-size: 30px;
  color: $dark-grey;
  //left: 34%;
  //margin-top: 20%;
}

////.sidemenu changes the color of the entire bar/////



ion-side-menu {
  background-color: $orange !important;
}



.profile-menu {
  background-color: $white;
  color: $orange;
}

.iconmenu {
  font-size: 24px;
  //color: $orange;
}

ion-item.signoutMargin {
  padding-left: 39px;
  //color: $orange !important;

}




.sideMenu {
  .item,
  .item-content {
    background-color: $smoke-white;
    color: $dark-grey;
    font-weight: 500;
    border: none;
    font-size: 16px;
    font-weight: 400;

    h5 {
      color: $white;
      background: $orange;
      text-align: center;
      font-weight: bold;
    }
  }

  ///Color of menu bar when clicked////

  .item.active,
  .item.activated,
  .item-complex.active .item-content,
  .item-complex.activated .item-content,
  .item .item-content.active,
  .item .item-content.activated {
    border-color: #ccc;
    background-color: $smoke-white;
    color: $orange;
  }

  .footerheight {
    height: 300px !important;
  }


  .profile-picture-menu {
    display: inline-block;
    margin-top:40px;
    margin-bottom:20px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-image: url('../img/prof-pic_default.png');
    background-size: 100%;

  }

  .profilelabel {
    font-weight: bold;
    margin-top:40px;
    margin-bottom:20px;
    padding-left: 5%;
    font-size: 16px;
    color: $white;
  }

.editProfile{
  ion-content.profile-background-color {
    background-color: $smoke-white;
  }

  label.item-input {
    background-color: $orange !important;

  }
}


  .imageDiv {
    background-color: $orange !important;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }


    i {
      color: yellow;
      font-size: 10px;
    }

    h5 {
      color: $white;
      background: $orange;
    }
  }

  .profile-picture-sm {
    float: left;
    margin-right: 10px;
  }
  ///////
}
/////background of job menu///
.jobsMenu {
  background-color: $white;
  padding-left: 32px;
  padding-right: 16px;


  li {
    margin-bottom: 8px;
    font-weight: 350;
  }

  li:first-of-type {
  //  font-weight: bold;
  }

  li:last-of-type {
    margin-bottom: 0;

  }

  a {
    color: $grey;
  }
}
///////////////////////
//End ChoreMenu//
//////////////////////////////
//////////////////////////////
//ChoreAvailable Jobs//
//////////////////////////////

.pandaAvailableJobs {
  .item-icon-left  {
    font-size: 13px;
    color: $orange;

    //font-size: px !important;
  //  margin-right: 100px;
  //margin-right: 45px;
//  border-radius: 10px !important;
}

}


//////////////////////////////
// End ChoreAvailable Jobs//
//////////////////////////////
//////////////////////////////
////////// Onboarding/////////
//////////////////////////////

.onboarding {
  ion-content {
    text-align: center;

    img {
      width: 100px;
    }

    .icon {
      font-size: 150px;
    }

    h6 {
      color: $dark-purple;
    }

    h5 {
      line-height: 27.4px;
      margin-left: 40px;
      margin-right: 40px;
      font-size: 18px;
    }

    h1 {
      font-weight: 900;
      font-size: 28px;
    }
  }

  .bar-footer {
    background-color: $orange;

    .button.button-full {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
//////////////////////////////
//////End  Onboarding/////////
//////////////////////////////
//////////////////////////////
////////// Landing/////////
//////////////////////////////

.sign-in {
  text-align: center;
  //background-color: $white;
  background: url('../img/kitchen.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: hsla(0,0%,20%,1.0);
  background-blend-mode: overlay;
  color: $white;


  .list , .list-inset {
    background-color: Transparent;
    // background-color: $white;
  }
}

.landing {
  text-align: center;
  //background-color: $white;
  background: url('../img/kitchen.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: hsla(0,0%,20%,1.0);
  background-blend-mode: overlay;
  color: $white;



  //background-image: linear-gradient(to bottom right, $orange , #FAB061);

//  background-color: $orange;



  .homepagePic {
    margin-top: 40px;
    width: 150px;
  }

  .homepagePic2 {
    margin-top: 10px;
    width: 200px;
  }

}


//////////////////////////////
//////End  Landding/////////
//////////////////////////////
//////////////////////////////
////////// Sign In/////////
//////////////////////////////

.sign-in {
  ion-content {
    margin-top: 40px;
  }

  form .item {
    border: solid 1px $light-grey;
  //  margin-top: 5px;
  //  border-radius: 2px;
    padding: 5px 5px 15px;
    //opacity: 0.10
  }

  .input-label {
    font-size: 12px;
  //  font-weight: 600;

  }

  a {
      font-size: 14px;
      text-decoration: underline;
      color: $white;

  }
}
//////////////////////////////
//////End  Sign In/////////
//////////////////////////////
//////////////////////////////
////////// Request Job/////////
//////////////////////////////

.inactiveMessage {
  text-align: center;
  border: solid 2px;
  padding: 9px;
}
//////////////////////////////
//////End  Request Job/////////
//////////////////////////////

//////////////////////////////
//////Notes/////////
//////////////////////////////


.notesborder {
  border-radius: 8px;
}

//////////////////////////////
//////End Notes/////////
//////////////////////////////

.choreinfocard {
    margin: 25px 10px 10px 10px;
  //  max-width: 500px;
    background-color: #ffffff;
    color: #7F7F7F;
    // border: 1px solid black;
    border-radius: 10px;
  //  height: 400px;
    border: 10px solid $white;
}

.whitetext{
  color: $white;
}

.redtext{
  color: $red;
}

.greytext{
  color: $dark-grey;
}

//////////////////////////////
/////Start of chat/////
//////////////////////////////
.ion-chatbox {
// position: absolute;
//         left: 210px;
//         top: 160px;
//           float: right;
        //  color: $light-grey;
        //  font-size: 30px !important;

  //    margin-top: 35px;

  //  margin-top: -20px !important;
  //  margin-left: 130px;

}

label.chatlbl {
  color: $grey;
//  font-size: 10px;
  font-weight: 500;
  //padding: 17px;
//  margin-top: 70px;
//  margin-left: 10px;
  //left: 150px;
}

.whitebackbtn{
  color: $white;
  font-size: 18px;
}

.homebackbtn{
  color: $white;
  font-size: 18px;
  float: right;
  //margin: 40px;
}



//////////////////////////////
/////End of chat/////
//////////////////////////////

.ion-google-place-container {
    position: fixed;
    top: 80px;
    height: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
}

input.ion-google-place[readonly]{
    background-color: transparent;
    cursor: text;
}

.popUpButton {
  color: $orange;
}

.popup {
  height: 300px;
}

/////////////////
//Map Popup CSS//
/////////////////

.my-custom-popup{
      .popup{
      //  border-top: 5px solid $orange;
border-radius: 5px;
height: 170px;
background-color: $smoke-white;
      }
      .popup-head{
      //  background-color: $orange;

      }
      .popup-title{
        //styling for title
        color: $orange;
        font-size: 16px;
        font-weight: 500;
      }

      .popup-body{
        color: $grey;
        font-size: 13px;
      }

        .popup-buttons .button {
          border-radius: 4px;

        }

    }

    .my-custom-popup2{
          .popup{
          //  border-top: 5px solid $orange;
    border-radius: 5px;
    height: 250px;
    background-color: $smoke-white;
          }
          .popup-head{
          //  background-color: $orange;

          }
          .popup-title{
            //styling for title
            color: $orange;
            font-size: 16px;
            font-weight: 500;
          }

          .popup-body{
            color: $grey;
            font-size: 13px;
          }

            .popup-buttons .button {
              border-radius: 4px;

            }

        }


//////////
///Button /////
//////////
.category-button {
    background-color: $orange;
    border: none;
    color: $white;
    padding: 15px;
    width: 80%;
  //  position: fixed;
  //  left: 10%;
//    right: 10%;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 15px;
    border-radius: 25px;

}

.resetPasswordbtn {
    position: fixed;
    left: 10%;
    right: 10%;
}

.category-button:not([disabled]):active {
background-color: $hover-orange;
color: $white;
}

///bottombutton///// buton at the botton

.button {
  font-weight: bold;
}

.bottombutton  {
  background-color: $orange;
  border: none;
  color: $white;
  padding: 15px;
  text-align: center;
  font-weight: bold !important;
  //display: inline-block;
  //margin-top: 12px;
  position: fixed;
  bottom: 5px;
  left: 10%;
  width: 80%;
  //margin-left: 10%;
  //margin-right: 10%;
  margin-bottom: 2px;
  font-size: 15px;
  border-radius: 25px;

  //font-family: sans-serif;
}

.bottombutton:not([disabled]):active {
background-color: $hover-orange;
color: $white;
}


.homebutton  {
  background-color: $orange;
  border: none;
  color: $white;
  padding: 15px;
  text-align: center;
  font-weight: bold !important;
  //display: inline-block;
  //margin-top: 12px;
  position: relative;
  // bottom: 5px;
  left: 10%;
  width: 80%;
  //margin-left: 10%;
  //margin-right: 10%;
  //margin-bottom: 2px;
  font-size: 15px;
  border-radius: 25px;

  //font-family: sans-serif;
}

.homebutton:not([disabled]):active {
background-color: $hover-orange;
color: $white;
}







.footerbtn  {
  background-color: $orange;
  border: none;
  color: $white;
  padding: 15px;
  text-align: center;
//  font-weight: bold;
  position: fixed;
  bottom: 5px;
  left: 10%;
  width: 80%;
  height: 40px;
  font-size: 100px;
  border-radius: 25px;
}

.footerbtn:not([disabled]):active {
background-color: $hover-orange;
color: $white;
font-weight: bold;
}


.bottomofscreen {
  position:relative;
  left:20%;
  right:20%;
  bottom:20%;
  top:60%;
}

.home-button {
    //height: 20px;
    //width: 20px;
   //icon: ion-paintbrush;
    background-color: $orange;
    border: none;
    color: $white;
    //padding: 20px;
    text-align: center;
  //  display: inline-block;
    font-size: 15px;
    font-weight: bold;
    //margin-right: 0px;
  //  margin-bottom: 0px;
    border-radius: 50%;
    float: right;
}

.home-button:not([disabled]):active {
background-color: $hover-orange;
color: $white;
//color: white;
}

////////////////////////////
///logo for sign in page////
////////////////////////////

 img.signinlogo {
   margin-top: 40px;
   width: 120px;


   //padding-top: 2px;
   //margin-top: 2px;
  // width: 60vw;
  // margin-left: 20%;
}
/////Padding for sign in box///
.signinpadding {
  //padding-top: 20px;
}

///Arrow buttons in settings///
.buttonarrow{
  background-color: Transparent;
  color: $grey;
  border-radius: 50%;
  border: Transparent;
  //icon-width: 100px;
  font-size: 15px;
  float: right;
  display: inline-block;

}

.buttonarrow:not([disabled]):active {
background-color: Transparent;
color: $hover-orange;
border: Transparent;
}
////make footer transparent/// or footer color
.footertransparent {

  background-color: $white;
  border-top: solid transparent 1;

}

label.landingsignin {
  color: $orange;
  font-size: 16px;
  font-weight: normal;
}

label.signin {
  color: $orange;
  font-size: 16px;
  font-weight: normal;
}

.button-energized {
  background-color: $orange;
}

.jobdetailbtn {
  color: $white;
  font-weight: bold;
  background-color: $orange;
  border-color: transparent;
  font-size: 13px;
  border-radius: 25px;
  width: 45%;
  height: 33px;
}

  .jobdetailbtn:not([disabled]):active {
  background-color: $hover-orange;
  color: $white;
  border-color: solid transparent;
  border-radius: 25px;
  //border-color: transparent;
  //font-weight: bold;
  }


  .contactbtn {
    color: $dark-grey;
    border: 1px solid $dark-grey;
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 5px;
    font-size: 13px;
    border-radius: 10px;
  //  width: 45%;
    height: 35px;
    width: 100%;
  }

    .contactbtn:not([disabled]):active {
    //background-color: $light-grey;
    border: .75px solid $light-grey;
    color: $light-grey;
  //  border-color: solid transparent;
  //  border-radius: 25px;
    //border-color: transparent;
    //font-weight: bold;
    }




  .jobdetailbtn-green {
    color: $white;
    font-weight: bold;
    background-color: $green;
    border-color: transparent;
    font-size: 13px;
    border-radius: 25px;
    width: 50%;
    height: 33px;
  }

    .jobdetailbtn-green:not([disabled]):active {
    background-color: $green;
    color: #29AE64;
    border-color: transparent;
    border-radius: 25px;
    border-color: transparent;
    //font-weight: bold;
    }

  .jobdetailbtn:active {
  background-color: $hover-detailorange;
  color: $white;
  border-color: transparent;
  border-radius: 25px;
  border-color: transparent;
  //font-weight: bold;
  }

  //padding: 20px;


.marginbtn {
    margin-top: -55px;
}

.marginbtn2 {
    margin-top: -38px;
}

.marginbtn3 {
    margin-top: -5px;
}


.ratingicon{
font-size: 16px;
}

///// job detail button //user app/////

.jobtypefooter {
  height: 50px;
}

.jobcardfooter {
height: 200px;
  background: transparent;
}


.orangeback {
  background-color: $hover-orange;
}

.choreinfo-background {
  background: url('../img/kitchen.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: hsla(0,0%,35%,1.0);
  background-blend-mode: overlay;
}

.history-background {
  background: url('../img/grass.jpg') no-repeat center center fixed;
  background-size: cover;
  // background-color: hsla(0,0%,35%,1.0);
  background-color: hsla(0,0%,25%,1.0);
  background-blend-mode: overlay;
}



.footeronboard {
  background-color: $white !important;
  border-top: solid transparent 1;
  height: 60vw;
}

///////////////////////
////Ionic Ratings//////
//////////////////////

.ionic_ratings {
    font-size: 50px;
  }

label.grey-Text{
  color: $grey;
  font-size: 13px;
}
