<ion-view view-title="Forgot Password" class="sign-in">
  <ion-content scroll="false" class="has-footer-tall">

    <div class="list list-inset">
      <form name="resetPasswordForm" ng-submit="resetPassword(resetPasswordForm)">
        <label class="item item-input">
          <span class="input-label">
            Enter Email</span>
          <input type="email" ng-model="user.email">
        </label>
        <button class="category-button button-block" type="submit">Send Reset Email</button>
    </form>
    </div>

  </ion-content>
</ion-view>
