<ion-modal-view id="resetMessageModal" style="min-height: 150px; height: 200px">
    <ion-header-bar class="bar-positive">
      <h1 class="title">
        <center>Reset Email Sent</center>
      </h1>
    </ion-header-bar>
    <ion-content class="text-center">
      <h5 class="title greyLbl"> An email has been sent to allow you to reset your password.
      </h5>
      <br/>
      <button class="button button-block button-positive button" ng-click="closeModal(resetMessageModal)">OK</button>
    </ion-content>
    <!-- <ion-footer-bar>
      <div class="list">
    </div>
  </ion-footer-bar> -->
  </ion-modal-view>
