<ion-view view-title="Sign In" class="sign-in">
  <ion-content scroll="false" class="">

    <img src="img/choreappicon.png" class="signinlogo">

    <div class="list list-inset">
      <form class= "signinpadding" name="signInForm" ng-submit="signIn(signInForm)">
        <label class="item item-input">
          <span class="input-label">
            Enter Email</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">
            Enter Password</span>
          <input type="password" ng-model="user.password">
        </label>
        <button class="category-button button-block" type="submit">Sign In</button>
        <h6 class="redtext incorrectPassword hidden">Incorrect email/password</h6>
      </form>

      <h4 class="title"><a href="#/app/password-reset">Forgot your password?</a></h4>
    </div>

  </ion-content>
</ion-view>
