.stripe_checkout_app {
  width: 100%;
  height: 300px;
}

.circlecolor {
  background-color: $orange;
//  border: solid $grey 1px;
}





 .container {
   position: absolute;
   width: 100px;
   margin-top: -32px;
   vertical-align: middle;
   margin-left: 37%;
   line-height: 50px;
   }

   .container .circle {
    height: 50px;
    width: 50px;
   // background-color: $grey;
    border-radius: 50%;
    text-align: center;
    display: block;

    //margin: 0 auto;
    //margin-left:5%;
    float:left;
   }

   .icon-card-css {
     color: $white;
     font-size: 30px;
     //padding-left: 10px;
     margin-right: 100px;

   }



  label.detailfooter {
    // color: $dark-grey;
      // font-size: 14px;
    color: $dark-grey;
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-align: center;

}

label.statusicon {
  // color: $dark-grey;
    // font-size: 14px;
  font-size: 25px;
  font-weight: 500;
  display: block;
  text-align: center;

}

label.statusicon-text {
  font-size: 6px;
  font-weight: 500;
  display: block;
  text-align: center;

}

div.contactdiv {

}

.checkiconon {
  color: $green;
}

.checkiconoff {
  color: $light-grey;
}

.canceledicon {
  color: $red;
}

label.choreherolbl {
  color: $dark-grey;
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
}


label.profile-lbl {
  position: relative;
  color: $dark-grey;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-left: 10px;
  text-align: left;
//  left: 10px;
}

.whitelabel{
  color: $white;
}

// label.chatlbl {
//   color: $dark-grey !important;
//   font-size: 10px;
//   font-weight: 500;
//   //padding: 17px;
//   margin-top: 70px;
//   margin-left: 160px;
//   //left: 150px;
// }




.panda-job-detail {
  h2 {
    margin-top: 10px;
    color: $orange;
    font-size: 30px;
  }

  // .ion-chatbox {
  //
  //     //left: 245px;
  //   //  top: 5px;
  //   //margin-left: 35px;
  // //float: right;
  // margin-top: -20px !important;
  // margin-left: 130px;
  //     color: $orange;
  //     font-size: 50px !important;
  // }

  .jobcompleted {
    color: white;
    font-size: 14px;
  }


  .details1 {
    font-weight: 600;
    font-size: 14px;
    color: $dark-grey;
  }

  .details {
    font-weight: 400;
    font-size: 13px;
    margin-top: -12px;
  }

  .bar {
    display: block;
  }

  #pandaProgressBtn {
    position: relative;
  }

  #pandaProgress {
    height: 100%;
    background-color: $detailorange;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;
    border-radius: 20px;
  }
}
