.sharescreen{
    
   
    .imagepeople{
        background-image: url('../../../img/3people.png');
        background-repeat:no-repeat; 
        height: 137px;
        background-position-x: center;
    }
  
    .textbutton{
        background-color: #FFFFFF;
        border: solid black 1.25px;
        border-radius:5px;
        text-align: center; 
        width: 40%;
        height: 50px;
        margin: 10px;
        font-weight: bold;
    }
    .emailbutton{
        background-color: #FFFFFF;
        border: solid black 1.25px;
        border-radius:5px;
        text-align: center; 
        width: 40%;
        height: 50px;
        margin: 10px;
        font-weight: bold;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .searchinput{
        width:400px!important;
        font-size:20px!important;
        font-weight:400;
        padding-left: 10px;
        width: 100%;
    
    }
    
    html {
        font-family: sans-serif;
    }
    
    label {
        margin-right: 15px;
        line-height: 32px;
    }
    .radiopart{
        width: 100%;
        height: 10%;
        margin-left: 4%;
    }
    
    .radiobutton {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    
        border-radius: 50%;
        width: 18px;
        height: 18px;
    
        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 5px;
    
        position: relative;
        top: 4px;
    }
    .letter{
        padding-left:3%; 
        color: black;
    }
    input:checked {
        border: 5px solid #E67123;
    }
    .phonenumber{
        padding-left:7%; 
        color: #CECEDD;
    }
    hr{
        margin-left: 8%;
        border-width:0.5px;
    }
}