<ion-view view-title=" Invite friends" class="sharescreen">
  <ion-content>
    <div class="item item-center" style="color:black;text-align:center;margin-top: 0px;">
     Your code:SPENCNCE609651
    </div>
    <div class="item" style="height:310px;">
     
      <div class="imagepeople"> </div>
      <div style="text-align:center;"><h2 style="color: black !important;font-weight:bold; ">Get $10</h2></div>
      <div style="text-align: center;  white-space: initial !important;">Earn $10 in ride credit when you refer a friend in Charileston.Terms apply.</div>
      <div align="center"><button class="textbutton" ng-click ="shareSendText()" >Send Text </button><button class="emailbutton" ng-click="shareSendEmail()">Send email</button></div>
    </div>
    <div class="item item-input controls" style="height: 8%;"> 
      <i class="icon ion-search placeholder-icon" style="color: #CAC9CE!important;"></i>
      <div class="fillwidth" >   
         <input class="searchinput"  select-all-on-click type="text" placeholder="Enter name or phone number" data-tap-disabled="true">  
      </div>
    </div>
    <div style="background-color: #F6F5FB;height: 4%;">
      <p style="color: black;padding-left:5px;vertical-align: middle;">A</p>
    </div>
      <div  class="radiopart">
          <input type="radio" class="radiobutton"
           name="contact" value="email" >
           <label class="letter">Aaa Connor Moran </label>
           <P class="phonenumber">+1 (732)995-7947</P>
           <hr >
        </div>
       <div  class="radiopart">
          <input type="radio" id="contactChoice1" class="radiobutton"
           name="contact" value="email" >
           <label class="letter">Aaa Evann Carter </label>
          <P class="phonenumber">+1 (803)622-1623</P>
          <hr >
        </div>
        <div  class="radiopart">
            <input type="radio" id="contactChoice1" class="radiobutton"
             name="contact" value="email" >
             <label class="letter">Aaa Evann Carter </label>
            <P class="phonenumber">8434374738</P>
            <hr >
        </div>
        <div  class="radiopart">
            <input type="radio" id="contactChoice1" class="radiobutton"
             name="contact" value="email" >
             <label class="letter">Aaron Fleg </label>
            <P class="phonenumber">(440)440-4842</P>
            <hr >
        </div>
  </ion-content>
</ion-view>

