<ion-view view-title="" class="">
  <ion-content>
    <div class="item">
      Payment
    </div>
    <div class="item item-divider">
      ACCOUNT
    </div>
    <div class="item item-button-right">
      Edit Profile
      <button class="button button-positive">
    <i class="icon ion-chevron-left"></i>
  </button>
    </div>
    <div class="item item-button-right">
      Edit Preferences
      <button class="button button-positive">
    <i class="icon ion-chevron-right"></i>
  </button>
    </div>
    <div class="item item-button-right">
      Change Password
      <button class="button button-positive" ng-click="resetPassword()">
    <i class="icon ion-chevron-right" ></i>
  </button>
    </div>
    <ul class="list">
      <div class="item item-divider">
        NOTIFICATIONS
      </div>
      <li class="item item-toggle">
        Job Accepted
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Job Begins
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Job Completed
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Received Payment
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <div class="item item-divider">
        INFO
      </div>
      <div class="item item-button-right">
        About
        <button class="button button-positive">
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
      <div class="item item-button-right">
        Terms of Service
        <button class="button button-positive" ui-sref="app.terms">
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
      <div class="item item-button-right" ng-click="app.privacy">
        Privacy Policy
        <button class="button button-positive" ui-sref="app.privacy">
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
      <!--<div class="item item-divider"></div>-->
      <!--<div class="item" ng-click="signOut()">Logout</div>-->
    </ul>
  </ion-content>
</ion-view>
