.platform-ios.platform-cordova:not(.fullscreen) .chat-scroll {
    //top: auto !important;
}

.chat-room {

.chat-label {
  color: $grey;
  right: 10px !important;
  font-weight: bolder;
}



    .chat-scroll {
      //  bottom: 44px;
        //top: auto;
        overflow: visible;
    }

    .message {
        display: flex;
    }

    .outgoing {
        justify-content: flex-end;

        p {
          color: $white;
        }

        .message-content {
            background-color: $orange;
            margin-bottom: 10px;
        }

        .sentAt {
            float: right;
            //color: $grey;
        }
    }

    .incoming {
      p {
        color: $black;
      }

        .message-content {
            background-color: $light-grey;
        }

        .sentAt {
            float: left;
        }

        .sender {
          display: block;
          float: left;
          font-weight: 400;
          font-size: 10px;
          color: black;
        }

    }

    .message-content {
        margin: 6px 0;
        max-width: 70%;
        padding: 8px;
        border-radius: 14px;
      	border: none;
      	text-align: center;

      	p {
        		// color: $white;
            font-size: 14px;
        		margin: 0;
      	}

        .sentAt {
            font-size: 10px;
        }
    }

    .chat-footer {
      	background: none;
      	padding: 0 6px;

      	form {
        		width: 100%;

        		.item {
        			   border: none;
        		}

        		.item-input-wrapper {
        			   border-radius: 0;

                 input {
                     width: 100%;
                 }
        		}

        		.button {
          			min-height: 0;
          		  line-height: 28px;
        		}
      	}
    }
}
