<!-- <ion-view view-title="Chat List">
  <ion-content class="chat-list">
    <ion-list>
      <a ng-repeat="room in chatRooms track by $index" class="item item-avatar" ui-sref="app.consumer.chat-room({ jobId: job.$id, roomId: room.id })">
        <img ng-src="{{ room.panda.profilePicture || '../../img/prof-pic_default.png' }}">
        <h2>{{ room.panda.firstName }} {{ room.panda.lastName }}</h2>
        <h2 >{{ room.lastMessage.content || 'No recent messages' }} {{ room.lastMessage.createdAt | amCalendar }}</h2>
      </a>
    </ion-list>
  </ion-content>
</ion-view> -->
