
<ion-view hide-nav-bar="false" class="chat-room">

  <ion-nav-title>
     <img class="title-img" src='img/chat.png' alt="Chat">
       <!-- <img ng-src="{{panda.profilePicture}}" class="chat-profile-header" alt="">{{ panda.firstName }} {{ panda.lastName | limitTo: 1 }}. -->
     </ion-nav-title>

  <ion-header-bar>
    <div class="col text-left">
      <div class="row">
        <div class="ion-chevron-left whitebackbtn" ng-click="goBack()">Back</div>
        <!-- <div>Current Job</div> -->
      </div>
    </div>
  <div class="text-center">


      </div>
      <div class="col text-right">
    </div>
  </ion-header-bar>

    <ion-content scroll="true" class="padding chat-scroll">

      <div ng-repeat="message in messages track by $index" type="item-text-wrap" ng-show="message.content" class="message" ng-class="message.author == profile.$id ? 'outgoing' : 'incoming'">
   <img ng-if="message.author == panda.$id" ng-src="{{panda.profilePicture}}" class="chat-profile-picture" alt="">
        <div class="item item-body message-content">
          <p>{{ message.content }}</p>
          <p class="sentAt">{{ message.createdAt | amCalendar }}</p>
          <p/>
          <div ng-if="message.author == panda.$id" class="sender">
             {{ panda.firstName }}
          </div>

        </div>
        <br/>
      </div>

    </ion-content>
    <ion-footer-bar keyboard-attach class="chat-footer">
      <form>
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Your message..." ng-model="newMessageContent"/>
            </label>
            <button ng-click="submitMessage()" class="button button-positive">Send</button>
          </div>
        </div>
      </form>
    </ion-footer-bar>
</ion-view>
