.job-apply {

    h2 {
        margin-top: 10px;
        color: $orange;
    }

    h2 {
        margin-top: 8px;
        color: $orange;
    }

    .details1 {
      font-weight: 600;
      font-size: 14px;
      color: $dark-grey;
    }

    .details {
      font-weight: 400;
      font-size: 13px;
      margin-top: -12px;
    }

    .button-row {
        margin-top: 100px;
    }


    .circlecolor {
      background-color: $orange;
    //  border: solid $grey 1px;
    }


    .heroPolicy {
        display: block;
        text-align: center;
        font-weight: bold;
        color: $orange;
        font-size: 12px;
    }


     .container {
       position: absolute;
       width: 100px;
       //position: absolute;
       width: 100px;
       margin-top: -32px;
       vertical-align: middle;
       }

       .container .circle {
        height: 50px;
        width: 50px;
       // background-color: $grey;
        border-radius: 50%;
        text-align: center;
        display: block;

        //margin: 0 auto;
        //margin-left:5%;
        float:left;
       }

       .icon-card-css {
         color: $white;
         font-size: 30px;
         //padding-left: 10px;
         margin-right: 100px;

       }

}
