<ion-modal-view id="confirm-modal">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">You got the Job!</h1>
    </ion-header-bar>
    <ion-content class="text-center youGotTheJob">
      <div>
        <i class="iconSuccess ion-checkmark-circled"></i>
      </div>
      <h4>{{ job.type }}</h4>
      <!-- <h5>{{ job.location.formatted_address }}</h5> -->
    <!--  <h4>{{ job.startTime | date:'shortTime' }}</h4> -->
      <!-- <h5>{{ job.startTime | amDateFormat:'dddd, MMMM Do h:mm a' }}<h5> -->
    </div>
    <h5>"Please arrive to the job on-time and let your customer know if any changes arise." - Chore Team </h5>
      <!-- <p ng-click="closeModal()">Add To Calendar<i class="icon ion-chevron-right pull-right"></i></p> -->
    <button class="button button-block button-positive button" ng-click="confirmModal.hide()">OK</button>
    </ion-content>
  </ion-modal-view>
