<ion-modal-view id="decline-modal">
    <ion-header-bar class="bar-positive">
      <h1 class="title">You Didn't Get The Job</h1>
    </ion-header-bar>
    <ion-content class="text-center youGotTheJob">
      <div>
        <i class="iconFail ion-close-circled"></i>
      </div>
      <h4>Sorry it looks like another chore hero claimed this job.</h4>
      <p ng-click="closeModal()">Find Another Job</i></p>
    </ion-content>
  </ion-modal-view>
