<ion-view view-title="Choose Check In Time">
  <ion-content>
    <div class="timepicker">
      <!-- Show selected date and time -->
      <h2 ng-click="showDatePicker()">{{ now | date: 'EEEE, MMMM d'}}</h2>
      <h1 ng-click="showDatePicker()">{{ now | date: 'shortTime'}}</h1>

      <!-- Change selected date and time -->
      <p ng-click="showDatePicker()">Change Time</p>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-positive bar-button">
    <button class="button button-full button-positive" ng-disabled="!jobRequest.checkInTime" ng-click="nextView('confirm')">Continue</button>
  </div>
</ion-view>
