.landing {

  .centerWidget {
      margin-left: auto;
      margin-right: auto;
  }

  h4 {
    font-size:17px;
    color: $white;

  }

    div.transbox {
      margin: 100px 30px 30px 30px;
      background-color: #ffffff;
      // border: 1px solid black;
      border-radius: 5px;
      height: 180px;
    }



    div.transbox label {
      font-size: 20px;
      margin: 5%;
    }

    // label {
    //   font-size: 20px;
    // }
@-webkit-keyframes fade-in {
  from {
    opacity: 1;
    top: 0;
  }

  to {
    opacity: 0;
    top: -5px;
  }
}

.signin-fadein {
  margin-top: 40px;
  -webkit-keframes: fade-in 1s infinite;
  text-align: center;
}

// force the fotter to be taller
  .footerHeight {
    height: 160px !important;
  }

  .black-text {
    color: $orange;
    text-decoration: underline;
  }
}

.landing {
  .screenshot {
    width: 100%;
  }

  .workerLbl {
    font-size: 16px;
    font-weight: bolder;
  }

  .taglineLbl {
    font-size: 20px;
    color: $white;
    font-weight: 200;
  }

  ion-footer-bar {
    padding-bottom: 44px;

    .row {
      align-items: center;
    }

    p {
      font-size: 12px;
      margin: 0;
    }


   .landingContent {
     margin-top: 60vw;
   }

    .landing-footer-tail {
      height: 160px;
      //background: url('../img/grass.jpg') no-repeat center center fixed;
      background-color: $white;

      form {
        width: 100%;
      }

      h1,
      h2,
      h3,
      h4 {
        font-size:10px;
        color: $white !important;

      }

      h5 {
        color: $white;
        text-decoration: underline;
      }




      .footer-button {
        font-size:20px;


      }

    }

    .landing-button {
        background-color: $orange;
        border: none;
        color: $white;
        padding: 4px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        margin: 3px;
        border-radius: 50px

    }

    .landing-button:not([disabled]):active {
  background-color: $hover-orange;
  color: $white;
}

  }

  .bar-vertical {
    height: 40px;
    width: 1px;
    margin: 0 auto;
    background-color: $white;
  }
}
