<ion-view hide-nav-bar="true"  class="landing" scroll="false" view-title="">

  <ion-content scroll="false" class="">


    <br />
    <div class="center-content" ">
      <img src="img/choreappicon.png" on-hold="serverPick()" alt="" class="homepagePic">
      <br />


      <h4 class="taglineLbl">What do you need done?</h4>
      <br />
      <!-- <img src="img/house.png" alt="" class="homepagePic2"> -->


      <div class="col ">
        <button class="category-button button-positive" onclick="location.href='#/app/consumer/sign-up'">Create an Account
        </button></div>
       <!-- <button class="landing-button button-block" onclick="location.href='#/app/panda/sign-up'">Earn Money
      </button> -->
        <!-- <button class="category-button" onclick="location.href='#/app/sign-in'">Sign In
        </button> -->
        <!-- </div>
      </div> -->
       <!-- <h4>Already have an account?  <a class="black-text" href="#/app/sign-in">Sign In</a></h4> -->
  <!-- <div class="col ">
        <label class= "workerLbl"> Become a Chore Hero and earn money.</label>
    </div> -->

    <div class="col ">
      <button class="category-button button-positive" onclick="location.href='#/app/panda/sign-up'">Worker Sign Up
      </button></div>

    </div>

   <h4>Already have an account?  <a class="black-text" href="#/app/sign-in">Sign In</a></h4>
  <!-- <label class= "workerLbl"> Already have an account</label> -->


    <!-- <button class="category-button" onclick="location.href='#/app/sign-in'">Sign In
    </button> -->




  </ion-content>
  <!-- <ion-footer-bar class="footertransparent footerHeight">
      <!-- <div class="row">
      <div class="col">
      <div class="col ">
        <button class="landing-button button-block button-positive" onclick="location.href='#/app/consumer/sign-up'">Create an Account
        </button>
      <!--  <button class="landing-button button-block" onclick="location.href='#/app/panda/sign-up'">Earn Money
      </button> -->
        <!-- <button class="landing-button button-block" onclick="location.href='#/app/sign-in'">Sign In
        </button>
        <!-- </div>
      </div> -->
      <!--  <h4>Already have an account?  <a class="black-text" href="#/app/sign-in">Sign In</a></h4> -->

        <!-- <label class= "workerLbl"> Become a Chore Hero and earn money!  </label> <a class="black-text" href="#/app/panda/sign-up">Sign Up</a>
    </div> -->

    <!-- <div class="row">
      <div class="col">
        <a href="#/app/consumer/sign-up" class="link-blank text-center">
          <h5>Post A Job</h5>
          <p></p>
        </a>
      </div> -->
      <!-- <div class="col col-10 bar-container">
        <div class="bar-vertical"></div>
      </div>
      <div class="col">
        <a href="#/app/panda/sign-up" class="link-blank text-center">
          <h5>Earn Money</h5>
          <p></p>
        </a>
      </div> -->
    <!-- </div> -->


  <!-- </ion-footer-bar> -->
</ion-view>
