<ion-modal-view id="serverPickModal" >
    <ion-header-bar class="bar-positive">
      <h1 class="title" color='light'>
        <center>Internal</center>
      </h1>
    </ion-header-bar>
    <ion-content class="text-left">
      <label class="item item-input"">
      <input type="password" placeholder="password" ng-model="modalModel.modalPassword" value="">
    </label>
    <label class="item item-input"">
      <select ng-model="modalModel.server" class="centerWidget">
        <option value="prod">Production</option>
        <option value="qa">QA</option>
      </select>
    </label>
    </ion-content>
    <ion-footer-bar>
    <div class="row">
    <center class="col" ng-click="serverOK(modalModel)">OK</center>
    </div>
  </ion-footer-bar>
  </ion-modal-view>
