.homescreen {

  .scroll-bar-indicator{
      display: none;
  }


    div.transbox {
      margin: 100px 30px 30px 30px;
      background-color: #ffffff;
      // border: 1px solid black;
      border-radius: 5px;
      height: 90px;
    }

    .beta-title-image {
    height: 30px;
    width: auto;
    margin-top: 7px !important;
    }

  //   .title-image {
  //     margin-top: 12px;
  //     height: 22px;
  //   }

    .iconhome {
      font-size: 18px;
      //color: $orange;
    }

    .mychoresbutton  {
      background-color: $orange;
     border: solid $orange 1.25px;
      color: $white;
        padding-top: 8px;
        padding-bottom: 8px;
      //  padding-left: 9px;
      //  padding-right: 9px;
      text-align: center;
      font-weight: 600 !important;
        border-radius: 5px;
        //  margin-right: 10px;
         margin-bottom: 10px;

      left: 20%;
      width: 60%;
      position: relative;

      font-size: 14px;

    }

    .mychoresbutton:not([disabled]):active {
    background-color: $hover-orange;
    border: solid $hover-orange 1.25px;
  //  color: $hover-orange;
    }


    .tagbutton  {
      background-color: transparent;
      border: solid $orange 1.25px;
      color: $orange;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 9px;
        padding-right: 9px;
      text-align: center;
      font-weight: 500 !important;
        border-radius: 5px;
          margin-right: 10px;
          margin-bottom: 10px;

      position: relative;

      font-size: 14px;

    }

    .tagbutton:not([disabled]):active {
    background-color: $white;
    border: solid $hover-orange 1.25px;
    color: $hover-orange;
    }





////Plus buttons on homescreen new deleted for new version/////
    .buttonplus{
  //   background-color: $orange;
      color: $orange;
      border-radius: 50%;
      //border: white;
      border: 0px;
    //  icon-width: 100px;
      font-size: 30px;
      float: right;

      border-width: 0px;
      //margin-left: 36vw;
    }

    .buttonplus:not([disabled]):active {
  //  background-color: Transparent;
    color: $hover-orange;
    //border: Transparent;


    //color: white;
    }

///////////////end plus button///////////









    .buttonGrid{
   background-color: transparent;
   height: 40vw;
   width: 100%;
   padding-bottom: 25vw;

   //text-align: center;

    //  color: $orange;
      //border-radius: 50%;


      border-width: 0px;
      //margin-left: 36vw;
    }

    .buttonGrid:not([disabled]):active {
    background-color: $white;
    opacity: .5;
    //color: $hover-orange;
    //border: Transparent;

    //color: white;
  }

//     .title-image {
// height: 30px;
// width: 30px;
// margin-top: 5px !important;
// }

div.bottomofpage {
  position: absolute;
  bottom: 0;
}

    .titleicon {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align:center;
    }

    img.homelogo{
      margin-top: 10px;
      width: 40vw;
      margin-left: 21%;

    }

    .right-alignment{
      margin-right: -15px;
    }

    .cornerplus{
  // padding-left: 20%;
   //  margin-top: 28vw;
     margin-top: 10vw;

   }

   .choreDetails{
  padding-left: 5%;
  padding-right: 5%;
  //  margin-top: 28vw;
    margin-top: 1vw;

  }


    label.detail-name{
      text-align: center;
      padding-left: 0%;
      color: $grey;
      font-weight: bold;
      font-size: 10px;
      padding-bottom: -50px;
    }

    h1 {
      text-align: center;
      margin-top: 5px;
      color: $dark-purple;
      //font-weight: 400;
  //    color: $dark-purple;
      font-weight: 200;
      //font-size: 14px;
      font-size: 120%;
    }


    h3  {
    //  padding-left: 3%;
      color: $grey;

      //  margin-top: 20vw;
     text-align: center;
      font-weight: 325;
    //  font-size: 10px;
      font-size: 80%;
      //padding-bottom: -50px;
      }

    h4 {
      text-align: center;
      margin-top: 5px;
      color: $dark-purple;
      font-weight: 400;
  //    color: $dark-purple;
      font-weight: 500;
      //font-size: 14px;
      font-size: 100%;
    }

    label.label-name{
      text-align: center;
      padding-left: 5%;
      color: $dark-grey;
      font-weight: normal;
      font-size: 14px;
      padding-bottom: -50px;
    }

    label.tagline-center{
        text-align: center;
        padding-left: 29%;
        color: $dark-purple;
        font-weight: normal;
        font-size: 14px;
      //margin-bottom: 12px;
    }


    h5 {
        text-align: center;
        color: $dark-purple;
        font-weight: 200;
        font-size: 17px;
      //margin-bottom: 12px;
    }


    div.low {
      padding-bottom: 10px;
    }

    .mowing {
    //  border-bottom: solid $light-grey 1.5px;
    //  border-right: solid $light-grey 1.5px;
      border: solid $light-grey .25px;
      border-radius: 5px;
      box-shadow: 0px 0px 3px 2px rgba(138,138,138,0.1);
      background-image: url('../img/cutGrass.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0vw 18vw;
      background-color: $white;
      font-size: 14px;

      // padding: 10px 70px;
      color: $dark-grey;
      // position:relative;
      // justify-content: center;
      // background-origin: content-box;
    }

    .extraHand {
    //  border-bottom: solid $light-grey 1.5px;
      background-image: url('../img/extrahand.png');
      border: solid $light-grey .25px;
      box-shadow: 0px 0px 3px 2px rgba(138,138,138,0.1);
      border-radius: 5px;
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: 2vw 16vw;
      background-color: $white;
      font-size: 14px;
      // padding: 10px 70px;
      color: $dark-grey;
    //  margin-top: -20px;
      // position:relative;
      // justify-content: center;
      // background-origin: content-box;
    }



    .painting {
    //  border-bottom: solid $light-grey 1.5px;
    border: solid $light-grey .25px;
    box-shadow: 0px 0px 3px 2px rgba(138,138,138,0.1);
    border-radius: 5px;
      background-image: url('../img/paintbrush.png');
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: 8vw 20vw;
      background-color: $white;
      font-size: 14px;
      // padding: 10px 70px;
      color: $dark-grey;
      // position:relative;
      // justify-content: center;
      // background-origin: content-box;
    }

    .cleaning {
  //    border-bottom: solid $light-grey 1.5px;
      border: solid $light-grey .25px;
      border-radius: 5px;
      box-shadow: 0px 0px 3px 2px rgba(138,138,138,0.1);
      background-image: url('../img/cleaning.png');
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: 5vw 23vw;
      background-color: $white;
      font-size: 14px;
      // padding: 10px 70px;
      color: $dark-grey;
      // position:relative;
      // justify-content: center;
      // background-origin: content-box;
    }

    .moving {
  //    border-bottom: solid $light-grey 1.5px;
  //    border-right: solid $light-grey 1.5px;
      border: solid $light-grey .25px;
      border-radius: 5px;
      box-shadow: 0px 0px 3px 2px rgba(138,138,138,0.1);
      background-image: url('../img/boxes.png');
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: 5vw 25vw;
      background-color: $white;
      font-size: 14px;
      // padding: 10px 70px;
      color: $dark-grey;
      // position:relative;
      // justify-content: center;
      // background-origin: content-box;
    }

    .organizing {
    //  border-bottom: solid $light-grey 1.5px;
    //  border-right: solid $light-grey 1.5px;
      border: solid $light-grey .25px;
      box-shadow: 0px 0px 3px 2px rgba(138,138,138,0.1);
      border-radius: 5px;
      background-image: url('../img/organize.png');
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: 7vw 20vw;
      background-color: $white;
      font-size: 14px;
      // padding: 10px 70px;
      color: $dark-grey;
      // position:relative;
      // justify-content: center;
      // background-origin: content-box;
    }

    // body{
    //   font-family: Noto Sans, Arial, sans-serif;
    //   padding: 3em 0;
    //   margin: 0;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    // }


    // This is the component code that comes with 3 variables for modification

    SquareGrid{

      padding-left: 1px;
      // The content width you use on your website
      --content-width: 100%;



      // The size of the gutter
      --gutter: 0px;

      // The amount of columns
      --columns: 1;



      // This is the calculation for the row height.
    // --row-size: calc(
    //    ( var(--content-width) - (var(--gutter) * (var(--columns) - 1))
    //    ) / var(--columns)
    //  );





      --row-size: 32%;

      display: grid;


      width: 100%;
      max-width: var(--content-width);
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-auto-rows: var(--row-size);

      grid-column-gap: var(--gutter);
      grid-row-gap: var(--gutter);

    }


    // This is again demo. Just decide with media queries when to add another column

    @media (min-width: 300px){
      SquareGrid{
        --columns: 2;
      }
    }
      @media (min-width: 600px){
        SquareGrid{
          --columns: 3;
        }
    }
  }
