
.jobs-history {
  .input-label {
   white-space: normal !important;
   max-width: 50% !important;
  left: 30px;
  font-weight: 500;
  //margin-right: 20px;
   font-size: 18px;
   color: $orange;
   // width: 100%;
 }

 // .rightnotes {
 //    max-width: 40% !important;
 //    margin-right: 40px;
 //    margin-left: 10px;
 // }



 .item-content {
   border: solid $light-grey .25px ;
  border-radius: 5px;
}


ion-item.colorbg {
  background-color: $green;
}

 .job-list1{
   margin-bottom: 10px;
   border-radius: 10px;
   background-color: $green !important;
 }

 div.status-label1{
   background-color: $green;
   padding: 5px;
   margin-bottom: 10px;
 }


div.status-label{
  background-color: $grey;
  padding: 5px;
  margin-bottom: 10px;
}




label.job-status {
  color: $white;
  display: block;
  text-align: center;

  // background-color: $grey;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}



.circlecolor {
 background-color: transparent;
 // border: 2px solid $white;
 // box-shadow: 0 0 0 2px $white,
 //               0 0 0 2px #ddd;
}


.checkiconon {
color: $green;
}

.checkiconoff {
color: $light-grey;
}


 .container {
   position: absolute;
   //width: 60%;
   margin: 0 auto;
   margin-left: 3px;
   // margin-top: -7px;
   left: 90%;
   //line-height: 50px;

   }

   .container .circle {
    height: 20px;
    width: 20px;
   // background-color: $grey;
    border-radius: 50%;
    text-align: center;
    display: block;

    //margin: 0 auto;
    //margin-left:5%;
    float:left;
    .icon {
      font-size: 14px !important;
      // color: $orange !important;
      left: 0px !important;
    }
   }


.icon {
  font-size: 15px !important;
  // color: $orange !important;
  left: 30px;
}
 .list-icon{
   font-size: 20px;
 }

 .checkiconon {
 color: $green;
 }

 .checkiconoff {
 color: $light-grey;
 }

}
