<ion-view view-title="Test Page">
  <ion-header-bar class="bar-positive">
    <div class="col text-left">
      <div class="row">
      </div>
    </div>
      <div class="col text-right">
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <h1>Hi There</h1>
  </ion-content>
</ion-view>
