.panda-sign-up {

    .ion-chevron-right {
        font-size: 18px;
    }

   h2 {
     text-align: center;
     color: $dark-grey;
     font-size: 20px;
     font-weight: 400;
     margin-left: 20px;
     margin-top: 20px;


   }

   h1 {
     text-align: center;
     color: $grey;
     font-size: 15px;
     font-weight: 400;
     margin-left: 20px;
     margin-top: 20px;
   }

.onboardimg{
  display: block;
  margin-top: 0vw;
  width: 190vw;
  height: auto;
  margin-left: -45vw;
}


    .footeronboard {

      background-color: $white !important;
      border-top: solid transparent 1;
      height: 60vw;

    }

   .circlecolor1 {
     background-color: $grey;
   }

   .circlecolor2 {
     background-color: $orange;
   }





    .container {
      position: relative;
      width: 95%;
      margin: 0 auto;
      margin-top: 10%;
      margin-left: 29%;
      line-height: 50px;

      }

      .container .circle {
       height: 10px;
       width: 10px;
      // background-color: $grey;
       border-radius: 50%;
       text-align: center;
       display: block;
       margin: 0 auto;
       margin-left:5%;
       float:left;
      }


   .landing-button {
       background-color: $orange;
       border: none;
       color: $white;
       padding: 4px;
       text-align: center;
       display: inline-block;
       font-size: 15px;
       //margin: 3px;
       border-radius: 50px;
   }


    .onboard-background {
      background: url('../img/kitchen.jpg') no-repeat center center fixed;
      background-size: cover;
      width: 100%;
    //  background-color: hsla(0,0%,35%,1.0);
      background-blend-mode: overlay;
    }

    .policy-block {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.password-popup {
      .popup {
        height: 150px  !important;
      }
}
