<ion-view view-title="Add Card" onload="alert(111)">
  <ion-content>
    <form>
      <div class="list">
      <!-- <ion-item>
        <ion-label fixed>Card Number</ion-label>
        <ion-input type="text" name="cardNumber" placeholder="#### #### #### ####"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Exp. Date</ion-label>
        <ion-input type="text" name="expDate" placeholder="MM/YY"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>CVV</ion-label>
        <ion-input type="text" name="cvv" placeholder="MM/YY"></ion-input>
      </ion-item> -->
      <!-- <label class="item item-input item-stacked-label">
        <span class="input-label">Card Number</span>
        <input type="number" ng-model="cardInfo.cardNumber">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Expiration (MM/YY)</span>
        <input type="number" ng-model="cardInfo.expDate">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">CVV</span>
        <input type="number" ng-model="cardInfo.cvv">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">ZIP Code</span>
        <input type="number" ng-model="cardInfo.zip">
      </label>
 -->
      <button class="button button-full button-positive"
              stripe-checkout="AddCardController.doCheckout"
              data-key="pk_test_j4nJLAdxhucNlggWCKFSpEVs"
              data-name="Pay the worker"
              data-description="Five dollahs!"
              data-amount="2500">
        Buy
      </button>

      <!-- label class="item item-input item-floating-label">
        <span class="input-label">CVV</span>
        <input type="text" placeholder="{{cardInfo.cvv}}" ng-model="cardInfo.cvv">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">ZIP</span>
        <input type="text" placeholder="{{cardInfo.zip}}" ng-model="cardInfo.zip">
      </label> -->
    </div>
    <!-- <button class="button button-full button-positive" ng-click="addCard()">
        SAVE
    </button> -->
  </form>
  </ion-content>
</ion-view>
