<ion-view view-title="Edit Profile" class="editProfile">
  <ion-content >
    <div class="list">
    <div class="imageDiv">
      <img ng-src="{{profile.profilePicture || '../img/prof-pic_default.png' }}" ng-click="pickImage()" class="profile-picture" alt="panda-profile-image">


      <button class="ion-android-create buttonIcon" ng-click="pickImage()"></button>

    </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="{{profile.firstName}}" ng-model="profile.firstName" value="">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="{{profile.lastName}}" ng-model="profile.lastName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="{{profile.email}}" ng-model="profile.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="{{profile.mobilePhone}}" ng-model="profile.mobilePhone">
      </label>

    </div>
  </ion-content>
  <div>
  <button class="bottombutton" ng-click="updateProfile()">
      Update Profile
  </button>
</div>
</ion-view>
