<ion-view hide-nav-bar="true" view-title="" class="panda-sign-up onboarding">


  <ion-content class="onboard-background">

<img class="onboardimg" src='img/viewjobs.png'>

  </ion-content>

  <ion-footer-bar class="footeronboard">
    <div class="col">
      <h2>Available Jobs<h2>
        <h1>View Chores in your area. Tap and select the ones that fit your skill set and time availabilities.<h1>
        <div class="container">
      <div class="circle circlecolor2"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      </div>
      <button class="bottombutton" ng-click="onboarding2()">Next
      </button>
      <br/>
  </div>



</ion-footer-bar>

</ion-view>
