<ion-view view-title="" class="panda-sign-up onboarding">
  <ion-content class="onboard-background">

   <img class="onboardimg" src='img/jobdetailsworker.png'>


  </ion-content>

  <ion-footer-bar class="footeronboard">
    <div class="col">
      <h2>Request to Start<h2>
        <h1>Request to start the chore up to 10 minutes before start time. Customers provide all the tools necessary for the chore at hand.<h1>
        <div class="container">
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor2"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      </div>
      <button class="bottombutton" ng-click="onboarding3()">Next
      </button>
      <br/>
  </div>



</ion-footer-bar>

</ion-view>
