<ion-view view-title="" class="panda-sign-up onboarding">

  <ion-content class="onboard-background">
<img class="onboardimg" src='img/workerpaid.png'>
  </ion-content>
  <ion-footer-bar class="footeronboard">
    <div class="col">
      <h2>Payment<h2>
        <h1>Get payed weekly directly through the application and contact us if you have any problems or questions.<h1>
        <div class="container">
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor2"></div>
      <div class="circle circlecolor1"></div>
      </div>
      <button class="bottombutton" ng-click="onboardingExit()">Next
      </button>
      <br/>
  </div>



</ion-footer-bar>

</ion-view>
