<ion-view view-title="Reset" class="resetPassword">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="password" placeholder="Current Password" ng-model="vars.currentPassword">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Enter New Password" ng-model="vars.newPassword">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm New Password" ng-model="vars.confirmPassword">
      </label>
      <button class="category-button resetPasswordbtn" ng-click="changePassword()">
        Submit
      </button>
      <div class="error-block">
        <p ng-show="error.message">{{ error.message }}</p>
        <!-- <ion-label >{{ error.message }}</ion-label> -->
      </div>
    </div>
  </ion-content>

</ion-view>
