<ion-view view-title="Profile Photo" class="panda-sign-up consumer-sign-up">
  <ion-content class="onboard-background">
    <div class="add-profile-picture">
      <!--<button class="category-button" ng-click="goJobsList()" class="skip-button">Skip</button>-->
      <a ng-if="!profile.profilePicture" ng-click="goJobsList()" class="skip-button">Skip</a>
      <!-- <a ng-if="!profile.profilePicture" ng-click="onboarding1()" class="skip-button">Skip</a> -->
      <div ng-if="profile.profilePicture"  ng-click="doGetImage()">
        <img ng-src="{{profile.profilePicture}}" class="profile-picture" alt="Profile Picture">
      </div>
      <div ng-if="!profile.profilePicture" ng-click="doGetImage()" class="profile-picture add">Tap to add Photo</div>
    <!--  <h4>{{ profile.firstName }} {{ profile.lastName}}</h4> -->
      <!-- <a ng-if="profile.profilePicture" ng-click="onboarding1()" class="button button-rounded button-positive">Continue</a> -->
      <!-- <a ng-if="profile.profilePicture" href="#/app/panda/jobs" class="button button-rounded button-positive">Continue</a> -->
    </div>
  </ion-content>
  <ion-footer-bar class="footeronboard">
    <div class="col">
      <h2>Add Profile Image<h2>
        <h1>Add a square profile image above to give customers trust and transparency when you show up to their home or business.<h1>
        <div class="container">
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor2"></div>
      </div>
      <button class="bottombutton" ng-click="goJobsList()">Next
      </button>
      <br/>
  </div>
</ion-footer-bar>
</ion-view>
