<ion-view class="">

  <ion-nav-title>
         <img class="title-img" src='img/settings.png'>
     </ion-nav-title>

  <ion-content>
    <!-- <div class="item">
      Payment
    </div> -->
    <div class="orangeText item item-divider">
      ACCOUNT
    </div>

    <div class="item item-button-right" ng-click="editProfile()">
      Edit Profile
      <button class="buttonarrow" ng-click="editProfile()">
    <i class="icon ion-chevron-right"></i>
      </button>
    </div>
    <!-- <div class="item item-button-right">
      Add Card
      <button class="buttonarrow" ng-click="addCard()">
    <i class="icon ion-chevron-right"></i>
      </button>
    </div> -->
    <div class="item item-button-right"  ng-click="resetPassword()">
      Change Password
      <button class="buttonarrow" ng-click="resetPassword()">
    <i class="icon ion-chevron-right" ></i>
  </button>
    </div>

    <!-- <ul class="list">
      <div class="item item-divider">
        NOTIFICATIONS
      </div>
      <li class="item item-toggle">
        Job Accepted
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Job Begins
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Job Completed
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Received Payment
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li> -->
      <div class="orangeText item item-divider">
        INFO
      </div>
      <div class="item item-button-right" ui-sref="app.about">
        About
        <button class="buttonarrow">
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
      <div class="item item-button-right" ui-sref="app.terms">
        Terms of Service
        <button class="buttonarrow" >
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
      <div class="item item-button-right" ui-sref="app.privacy">
        Privacy Policy
        <button class="buttonarrow" >
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
      <!--<div class="item item-divider"></div>-->
      <!--<div class="item" ng-click="signOut()">Logout</div>-->
    </ul>
  </ion-content>
</ion-view>
