<ion-view view-title="" class="onboarding">
  <ion-content>
    <div class="spacer"></div>
        <h2>Stripe</h2>
      <h4>Set up your account with Stripe to get automatically paid when your job is done.</h4>
    <a href="{{DynamicStripeAuthorizeUrl}}" target="_blank" ng-show="!status.loadingAuthToken">
      Connect with Stripe in Browser for Testing</a>
   </ion-content>
  <div class="bar bar-footer">
    <button class="button button-full button-positive" ng-click="stripeConnect()">Set up Stripe Account</button>
  </div>
</ion-view>
