<ion-side-menus   enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <!-- <ion-nav-buttons ng-if="true" side="left"> -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-title></ion-nav-title>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
  <!--  <ion-header-bar >


    </ion-header-bar> -->
    <ion-content scroll="false" class="sideMenu">
      <ion-list>
        <div class="list" ng-if="profile.role === 'consumer'" menu-close >
      <!--      <div class="row">


          <div class="col1"><img ng-src="{{profile.profilePicture}}" ng-click="editProfile()" class="profile-picture-menu pull-left" alt=""> </div>

              <div class="col2"> <h5 class= 'pull-left profilelabel'> {{profile.firstName}} {{profile.lastName}} /n {{profile.lastName}} </h5>
                <h5 class="pull-left profilelabel" ng-show="profile.userRating">{{profile.userRating | rounded:1 }}</h5> </div>

              </div> -->
            </br>
            </br>
              <div  class="row">

              <div  class="col1">  <img ng-src="{{profile.profilePicture || 'img/profile-placeholder.png'}}"  class="profile-picture-card pull-left" alt=""> </div>

            <div class="col2"> <label class="menu-lbl"> {{profile.firstName | limitTo: 10}} {{profile.lastName | limitTo: 10}}</label>
            <label class="menu-lbl2" >{{profile.userRating | rounded:2 }} <i class="ion-ios-star ratingicon"></i></label>
             </div>
              </div>

                </br>


            </div>
        </div>

        <ion-item ng-if="profile.role === 'consumer'" menu-close href="#/app/consumer/home">
        <i class="ion-home iconmenu"></i>  Home
        </ion-item>
            <!-- <ion-item ng-if="profile.role === 'consumer'" menu-close href="#/app/consumer/yourJobs"> -->
        <!-- <ion-item ng-if="profile.role === 'consumer'" ng-click="toggleJobsMenu()">
        <i class="ion-settings iconmenu"></i>  Your Chores
        </ion-item> -->
        <ul ng-show="profile.role === 'consumer' && jobsMenu" class="jobsMenu">
          <li ng-repeat="(jobListingId, jobListing) in jobListings">
            <!--Hard coding SHOW_JOB for state variable in URL so detail page will just show the regulet info (i.e. not request to start)-->
            <a menu-close ng-show="jobListing.cancelled" href="#/app/consumer/job/{{jobListingId}}/SHOW_JOB">{{ jobListing.type }} - Canceled</a>
            <a menu-close ng-show="!jobListing.cancelled" href="#/app/consumer/job/{{jobListingId}}/SHOW_JOB">{{ jobListing.type }} {{ jobListing.startTime | date: 'EEEE, MMMM d' }}</a>
          </li>
        </ul>
        <ion-item ng-if="profile.role === 'consumer'" menu-close href="#/app/consumer/jobs-history">
          <i class="ion-settings iconmenu"></i>  Your Chores
        </ion-item>
        <!-- <ion-item ng-if="profile.role === 'consumer'" menu-close href="">
          Your Pandas
        </ion-item> -->
     <!-- <ion-item ng-if="profile.role === 'consumer'"  menu-close href="#app/consumer/chat/chat-list.html">
            <i class="ion-settings iconmenu"></i>  Your Chats
        </ion-item> -->
        <!-- <ion-item ng-if="profile.role === 'consumer'" menu-close href="">
          Payment
        </ion-item> -->
        <ion-item ng-if="profile.role === 'consumer'" menu-close id="my_custom_link">
        <i class="ion-help-circled iconmenu"></i>  Help</ion-item>
        <ion-item ng-if="profile.role === 'consumer'" menu-close id="toShare" href="#/app/consumer/share">
        <i class="ion-share iconmenu"></i>  Share
        </ion-item>
        <ion-item ng-if="profile.role === 'consumer'" menu-close href="#/app/panda/settings" class="pandaMenu">
        <i class="ion-gear-b iconmenu"></i>  Settings
        </ion-item>
      <!--  <ion-item ng-if="profile.role === 'consumer' " menu-close href="#/app/consumer/profile-picture">
          Add Profile Picture
        </ion-item> -->

        <div class="list" ng-if="profile.role === 'panda'" menu-close >
        </br>
        </br>
          <div class="row">

          <div class="col1">  <img  ng-src="{{profile.profilePicture || 'img/profile-placeholder.png'}}" class="profile-picture-card pull-left" alt=""> </div>

        <div class="col2"> <label class="menu-lbl"> {{profile.firstName | limitTo: 10}} {{profile.lastName | limitTo: 10}}</label>
        <label class="menu-lbl2" >{{profile.userRating | rounded:2 }} <i class="ion-ios-star ratingicon"></i></label>
         </div>
          </div>

            </br>

        </div>

      <!--  <ion-item ng-if="profile.role === 'panda'" menu-close ng-hide="!profile.profilePicture" class="imageDiv">
          <img ng-src="{{profile.profilePicture}}" alt="" class="profileImage"> <br>
        </ion-item>
        <ion-item ng-if="profile.role === 'panda'" menu-close class="imageDiv">
          {{profile.firstName}} {{profile.lastName}}
        </ion-item>-->
        <ion-item ng-if="profile.role === 'panda'" menu-close href="#/app/panda/jobs">
          <i class="ion-home iconmenu"></i> Home
        </ion-item>
        <ion-item ng-if="profile.role === 'panda'" ng-click="toggleJobsMenu()" menu-close href="#/app/panda/jobs-history"  class="pandaMenu">
        <i class="ion-settings iconmenu"></i>  Your Jobs
        </ion-item>

        <!-- ng-click="toggleJobsMenu()" -->

        <!-- <ul menu-close ng-show="profile.role === 'panda' && jobsMenu" class="jobsMenu"> -->
          <!--<li class="pandaMenu">-->
            <!--<a menu-close href="#/app/panda/jobs">Find Other Jobs</a>-->
          <!--</li>-->
          <!-- <li ng-repeat="(jobListingId, jobListing) in jobListings" class="" >
              <a menu-close href="#/app/panda/job-detail/{{jobListingId}}/SHOW_JOB">{{ jobListing.type }} {{ jobListing.startTime | date: 'EEEE, MMMM d' }}</a>
          </li>
        </ul> -->



        <!-- <ion-item ng-if="profile.role === 'panda'" menu-close href="#/app/panda/jobs-history">
        <i class="ion-ios-clock iconmenu"></i> History
        </ion-item> -->
      <!--    <ion-item ng-if="profile.role === 'panda'" menu-close href="#/app/panda/chat-list">
          Your Chats
        </ion-item> -->
        <!-- <ion-item ng-if="profile.role === 'panda'" menu-close href="#/app/panda/payment" class="pandaMenu">
          Payment
        </ion-item> -->
        <ion-item ng-if="profile.role === 'panda'" menu-close class="pandaMenu" id="my_custom_link" >
        <i class="ion-help-circled iconmenu"></i>  Help
        </ion-item>
        <ion-item ng-if="profile.role === 'panda'" menu-close href="#/app/panda/settings" class="pandaMenu">
        <i class="ion-gear-b iconmenu"></i>  Settings
        </ion-item>

        <ion-item class="signoutMargin" menu-close ng-click="signOut()">
          Sign Out
        </ion-item>
        <ion-item class="bottomMargin" >
          <div class="list pandaRadius" ng-if="qaMode" menu-close>
            -----QA Server-----
          </div>
        </ion-item>
        <div class="list pandaRadius" ng-if="profile.role === 'panda'" menu-close >

              <!-- <div class="col">
                  <img src="img/panda.png" alt="">
              </div> -->
              <div class="col">
            <h5>Worker Mode</h5>

              </div>
              <div class="col col-25"></div>

        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
