.create-job {



  h2 {
      margin-top: 10px;
      color: $orange;
      text-align: center;
  }

  h5 {
    color: $orange;
    font-size: 16px;
  }
  h4 {
    color: $white;
    font-weight: 500;
    text-align: center;
  }

  h6 {
    font-size: 20px;
    color: $white !important;
    font-weight: 500;
    text-align: center;
  }

  label.choretype {
    color: $header-grey;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-align: center;
  }

  div.backdrop-card {
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -10px;
    border: .5px solid $grey;
    //margin: 30px;
  }

  .linecolor1 {
    background-color: $grey;
  }

  .linecolor2 {
    background-color: $orange;
  }



  .circlecolor {
    background-color: $orange;
  //  border: solid $grey 1px;
  }





   .container {
     position: absolute;
     width: 100%;
     //position: absolute;



     margin-top: -32px;
     horizont-align: middle;
     }

     .container .circle {
      height: 50px;
      width: 50px;
     // background-color: $grey;
      border-radius: 50%;
      text-align: center;
      display: block;

      //margin: 0 auto;
      //margin-left:5%;
      float:left;
     }

   // .container {
   //   position: relative;
   //   width: 100%;
   //
   //   margin-bottom: 20px !important;
   //   //margin-left: 29%;
   //   line-height: 50px;
   //   float: left;
   //
   //   }
   //
   //   .container .line {
   //    height: 5px;
   //    width: 20%;
   //   // background-color: $grey;
   //    text-align: center;
   //    display: block;
   //    margin: 0 auto;
   //    margin-left:1%;
   //    float:left;
   //   }



.ion-search{
  font-size: 22px;
}


  .notescss{
    border-radius: 5px;

    border-color: $orange;
  //  width: 80vw;
    margin-left: 5%;
    margin-right: 5%;

    caret-color: $orange;
  }

  .details1 {
    font-weight: 600;
    font-size: 14px;
    color: $dark-grey;
  }

  .details {
    font-weight: 400;
    font-size: 13px;
    margin-top: -12px;
  }

    .heroPolicy {
        font-weight: bold;
        color: $orange;
        font-size: 12px;
    }

    input[type="number"] {
        height: 22px;
        font-weight: bold;
        display: inline-block;
    }

    .kitchen-background {
      background: url('../img/kitchen.jpg') no-repeat center center fixed;
      background-size: cover;
      background-color: hsla(0,0%,30%,1.0);
      background-blend-mode: overlay;
    }

    label.notescss{
      background-color: #F7F7F7;
      border: solid $white 1px;
      height: 100px;

    }

    div.picker {
      width: 80px;
      padding: 10px;
      border: 1px solid;
      border-color: $orange;
      background-color: $smoke-white;
      margin: 0 auto;
      text-align: center;
      border-radius: 15px;
    }

  .pickercss{
    border-radius: 20%;

  }







//////////////////////
/// Date picker css///
/////////////////////

.ionic_timepicker_popup .popup {
  background-color: #000000;
}


//////////////////////////
/// End Date picker css///
//////////////////////////


  .ion-google-place-container {
    top:100px;
    height: 180px;
    position: absolute;
    width:100%;
  }

  .map {
    width: 300px;
    height: 500px;
  }


    .picker-center {
      display: table !important;
      width: 100% !important;
      height: 100% !important;
      border-spacing: 20px;

      .scroll {
        padding: 150px 0px 0px 0px;
        display: table-cell;
        text-align: center;
      }
    }


#div .button-clear {
  color:black;
}

  .ionic_datepicker_modal .selected_date {
    background-color: #FF0000;
    color: #fff;
    font-weight: bold;
  }






  #map {
  //display: block;
     width: 100vw;
     height: 168vw;
// max-height:90%;
  //  width: 380px;
  //  height: 622px;

    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    color: $grey;
    font-weight: 100;
  }

  .controls {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    position: absolute;
    line-height: 22px;
  }
///input address font and background///
  .pac-input {
    background-color: #fff;
    color: $dark-grey;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 90%;
    margin-bottom: 0;
    line-height: 20px;
    margin-left: 10%;
    user-select: all;
    caret-color: $orange;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #confirmPopup {
   height: 50px;
   background-color: #000;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;

  }

div.fillwidth {
  background-color: $white;
  width: auto;
}

  .smallbutton  {
    background-image: linear-gradient(to right, #FAB061 0%, #EF722F 100%);
    // background-image: linear-gradient(to right, #FAB061 0%, #EF722F 100%);
    // background-color: linear-gradient(to right, $red , $orange);
    border: none;
    color: $white;
    padding: 10px;
    text-align: center;
    font-weight: bold !important;
    //display: inline-block;
    //margin-top: 12px;
    position: fixed;
    //bottom: 5px;
    left: 30%;
    width: 40%;
    //margin-left: 10%;
    //margin-right: 10%;
    //margin-bottom: 2px;
    font-size: 15px;
    border-radius: 5px;

    //font-family: sans-serif;
  }

  .smallbutton:not([disabled]):active {
    background-image: linear-gradient(to right, #FAB061 0%, #EF722F 50%);

  color: $white;
  }


}
