<ion-modal-view class="modal-corders">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Your job is posted!</h1>
    </ion-header-bar>
    <ion-content class="text-center">
      <div>
        <i class="iconSuccess ion-checkmark-circled success"></i>
      </div>

    <h4>You will be notified once someone is assigned to your chore.</h4>
      <!-- TODO:  -->
      <!-- <p ng-click="closeModal()">Add To Calendar<i class="icon ion-chevron-right pull-right"></i></p> -->
      <p ng-click="modal.hide()">See Details</p>

      <button class="button button-block button-assertive button" ng-click="modal.hide(); goHome()">Home</button>
    </ion-content>
  </ion-modal-view>
