<ion-view class="create-job bar-clear">
  <ion-nav-title>
         <img class="title-img" src='img/myaddress.png' alt="My Address">
     </ion-nav-title>
    <ion-nav-title>
         <img class="title-img" src='img/myaddress.png'>
    </ion-nav-title>

    <ion-content>

      <div class="item item-input controls">
        <i class="icon ion-search placeholder-icon"></i>
    <div class="fillwidth" >    <input id="pac-input" class="pac-input" select-all-on-click type="text" placeholder="Search Location" data-tap-disabled="true" ng-change='disableTap()'
               ng-model="newJob.location.formatted_address">   </div>
      </div>

      <div id="map" data-tap-disabled="true" ></div>
    </ion-content>
    <div>
      <button class="bottombutton" ng-disabled="!newJob.location" ng-click="gotoDetailScreen('confirm')">Continue</button>
    </div>
  <div class="container">
<div class="line linecolor2"></div>
<div class="line linecolor1"></div>
<div class="line linecolor1"></div>
<div class="line linecolor1"></div>
</div>
</ion-view>
