<ion-view view-title="Hourly Rate" class="create-job">
  <ion-content class="padding has-footer content-center">
      <h4>How much will you pay a Choreper hour?</h4>
      <ionic-numberpicker input-obj="hourlyRatePicker">
        <h2>{{ newJob.hourlyRate }}</h2>
      </ionic-numberpicker>
  </ion-content>
  <div class="bar bar-footer bar-positive bar-button">
    <button class="button button-full button-positive" ui-sref="app.consumer.create-job.totalHours">Continue</button>
  </div>
</ion-view>
