<ion-view scroll="false" cache-view="false" class="create-job">

  <ion-nav-title>
         <img class="title-img" src='img/jobtype.png' alt="Job Type">
     </ion-nav-title>

  <div class="row">
     <div class="col text-right whitebackbtn" ng-click="goHome()"> Cancel</div>

    <!-- <ion-nav-back-button>Job Time
    </ion-nav-back-button> -->
  </div>
  <!-- <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->




  <ion-content class="padding has-footer content-center kitchen-background">
<div>
      <h4>This job is for my</h4>
      <button class="category-button" ng-click="setCategory('home')">Home</button>
      <button class="category-button" ng-click="setCategory('business')">Business</button>
      </div>
  </ion-content>
</ion-view>
