<ion-view view-title="Total Hours" class="create-job">
  <ion-content class="padding has-footer content-center kitchen-background">
      <h4>How many hours will the job take?</h4>
      <ionic-numberpicker input-obj="totalHoursPicker">
        <div class="picker">
          <h2>{{ newJob.totalHours }}</h2>
        </div>
      </ionic-numberpicker>
  </ion-content>
  <div class="bar bar-footer bar-positive bar-button">
    <button class="button button-full button-positive" ng-click="nextView('location')">Continue</button>
  </div>
</ion-view>
