<ion-view>

  <ion-nav-title>
         <img class="title-img" src='img/mychore.png' alt="My Chore">
     </ion-nav-title>

  <ion-content class="">

    <label class="item">
      <span class="job-typeheader">Select or Write in a Chore</span>
    </label>

    <ion-list>
      <label class="item item-input" ng-show="newJob.type == 'Other'">
        <span class="input-label">Type Here:</span>
        <input type="text" ng-model="newJob.writeIn">
      </label>
      <ion-radio class="item-icon-left2" ng-model="newJob.type"  ng-value="'Other'">
        <i class="icon ion-more" ng-class="job.iconClass"></i>
        Write In
      </ion-radio>
      <ion-radio class="item-icon-left2" ng-repeat="job in jobTypes" ng-model="newJob.type" ng-change="determineScroll()" ng-value="job.title">
        <i class="icon" ng-class="job.iconClass"></i>
        {{job.title}}
      </ion-radio>

    </ion-list>
  </ion-content>

<ion-footer-bar class="footertransparent footerHeight">

    <button class="button bottombutton" ng-disabled="!newJob.type || newJob.type == 'Other' && !newJob.writeIn" ng-click="nextView('pandasNeeded')">Continue</button>

  </ion-footer-bar>
</ion-view>
