<ion-view view-title="Notes" class="create-job">
  <ion-content class="padding has-footer content-center kitchen-background">
      <h4>Tell us more about the job</h4>
      <div class="list">
        <label class="item item-input notesborder">
          <textarea class="textarea-large" ng-model="newJob.notes"></textarea>
        </label>
      </div>
  </ion-content>
  <div>
    <button class="bottombutton" ng-click="nextView('pandasNeeded') ">Continue</button>
  </div>
</ion-view>
