<ion-view view-title="Latest end time" hide-nav-bar="false" class="create-job">
  <ion-header-bar>
    <div class="col text-left">
      <div class="row">
        <div class="ion-chevron-left" ng-click="goBack()"></div>
        <!-- <div>Current Job</div> -->
      </div>
    </div>
    <div class="col text-right"></div>
  </ion-header-bar>
  <ion-content class="padding kitchen-background">
    <div class="timepicker">
      <!-- Show selected date and time -->
      <!-- <h2 ng-click="showDatePicker()">{{newJob.endTime | date: 'EEEE, MMMM d'}}</h2>
      <h1 ng-click="showDatePicker()">{{newJob.endTime | date: 'shortTime'}}</h1> -->

      <!-- Change selected date and time -->
      <!-- <button class="button button-positive" ng-click="showDatePicker()">Change time</button> -->
    </div>
  </ion-content>
  <div class="bar bar-footer bar-positive bar-button">
    <button class="button button-full button-positive" ng-disabled="!newJob.endTime" ng-click="nextView('location')">Continue</button>
  </div>
</ion-view>
