<ion-view class="create-job">
  <ion-nav-title>
         <img class="title-img2" src='img/details.png' alt="Details">
     </ion-nav-title>
  <ion-content class=" padding kitchen-background">

    <!-- <div class="backdrop-card">
          <label class="choretype text-center" ng-show="newJob.type != 'Other'">{{ newJob.type }}</label>
          <label class="choretype text-center" ng-show="newJob.type == 'Other'">{{ newJob.writeIn }}</label>
          </div> -->


    <div class="timepicker" onload="showDatePicker()">
        <!-- <div class="timepicker" onload="initDatePicker()"> -->
      <!-- Show selected date and time -->
      <h2 ng-click="showDatePicker()">{{newJob.startTime |  date: 'EEEE, MMMM d'}} </h2>
      <h1 ng-click="showDatePicker()">{{newJob.startTime | date: 'shortTime'}}</h1>
      <!-- <h2>{{proposedDate.toDate() | date: 'EEEE, MMMM d'}}</h2>
      <h1>{{proposedTime.toDate() | date: 'shortTime'}}</h1> -->
      <!-- <p ng-click="showDatePicker()">Change Time</p> -->
       <!-- <button class="button button-positive" ng-click="showDatePicker()">Change time</button> -->
<button class="smallbutton button-positive" ng-click="showDatePicker()">Change Time</button>
<br/>
<br/>

            <!-- Job flexible page transition works fuctionality lnot complete -->
       <!-- <button class="button button-positive" ng-click="nextView('flexible')">flex time</button> -->

      <!-- Change selected date and time -->
      <!-- <button class="button button-positive" ng-click="openDatePicker()">Change Date</button>
      <button class="button button-positive" ng-click="openTimePicker()">Change Time</button> -->
    </div>
    <br/>
    <br/>
    <div class="list">
      <!-- <h4>Notes:</h4> -->
      <label class="notescss item item-input">
        <textarea class=" textarea-large" ng-model="newJob.notes" placeholder="Tell us more about the job..."></textarea>
      </label>
    </div>
    </div>
  </ion-content>
  <div>
    <button class="bottombutton" ng-disabled="!newJob.startTime" ng-click="nextView('location')">Continue</button>
  </div>
</ion-view>
