<ion-view class="create-job">

  <ion-nav-title>
         <img class="title-img2" src='img/details.png' alt="Details">
     </ion-nav-title>

  <ion-content class="Padding content-center kitchen-background">

  <!--  <div class="container">
  <div class="line linecolor2"></div>
  <div class="line linecolor1"></div>
  <div class="line linecolor1"></div>
  <div class="line linecolor1"></div>
</div> -->

  <!--  <div class="timepicker" onload="initDatePicker()">
      <!-- Show selected date and time -->
      <!-- <h2 ng-click="showDatePicker()">{{newJob.startTime | date: 'EEEE, MMMM d'}}</h2>
      <h1 ng-click="showDatePicker()">{{newJob.startTime | date: 'shortTime'}}</h1> -->
    <!--   <h4>{{proposedDate.toDate() | date: 'EEEE, MMMM d'}}</h4>
      <h4>{{proposedTime.toDate() | date: 'shortTime'}}</h4>

      <!-- Change selected date and time -->
    <!--   <button class="button button-positive" ng-click="openDatePicker()">Change Date</button>
      <button class="button button-positive" ng-click="openTimePicker()">Change Time</button>
    </div> -->

      <!-- <h4>How many people will you need?</h4>

      <ionic-numberpicker input-obj="pandasNeededPicker">
        <div class="picker">
          <h2>{{ newJob.pandasNeeded }}</h2>
        </div>
      </ionic-numberpicker> -->


<!-- <div class="backdrop-card">
      <label class="choretype text-center" ng-show="newJob.type != 'Other'">{{ newJob.type }}</label>
      <label class="choretype text-center" ng-show="newJob.type == 'Other'">{{ newJob.writeIn }}</label>
      </div>

      <br/>
      <br/>
      <br/> -->
    


      <h4>How many hours will the job take?</h4>
      <ionic-numberpicker input-obj="totalHoursPicker">
        <div class="picker">
          <h2>{{ newJob.totalHours }}</h2>
        </div>
        <br/>
        <div>

<button class="smallbutton button-positive" input-obj="totalHoursPicker">Change Hours</button>
</div>
<br/>
<br/>
      </ionic-numberpicker>


    <!--  <h4>Notes:</h4>
      <div class="list">
        <label class=" notescss item item-input notesborder">
          <textarea class="textarea-large" ng-model="newJob.notes"></textarea>
        </label>
      </div> -->

      <br/>
        <h6>Total: {{runningTotal | currency}}</h6>


  </ion-content>
<div>
<button class="bottombutton" ng-click="nextView('time')">Continue</button>
</div>
</ion-view>
