.job-detail1 {
    h2 {
        margin-top: 10px;
        color: $orange;
    }

    h5{
      color: $grey;
      font-size: 13px;
      font-weight: 500;
      margin-right: 20px;
    }

    .detail-txt {
      margin-right: 40px;
      //padding-left: 20px;
    }




.circlecolor {
  background-color: $orange;
//  border: solid $grey 1px;
}





 .container {
   position: absolute;
   width: 100%;
   //position: absolute;



   margin-top: -32px;
   horizont-align: middle;
   }

   .container .circle {
    height: 50px;
    width: 50px;
   // background-color: $grey;
    border-radius: 50%;
    text-align: center;
    display: block;

    //margin: 0 auto;
    //margin-left:5%;
    float:left;
   }


.icon-card-css {
  color: $white;
  font-size: 30px;
  //padding-left: 10px;
  margin-right: 100px;

}





// label.chatlbl {
//   color: $dark-grey !important;
//   font-size: 10px;
//   font-weight: 500;
//   padding: 17px;
//   margin-top: 70px;
//   margin-left: 10px;
// }


// .ion-chatbox {
//   //position: absolute;
//     // right: 82px;
//   //  top: 5px;
//   margin-left: 35px;
// float: right;
//     margin-bottom: : 20px;
//     color: $light-grey;
//     font-size: 70px;
// }



label.detailfooter {
  // color: $dark-grey;
    // font-size: 14px;
  color: $dark-grey;
  font-size: 14px;
  font-weight: 500;
  display: block;
  //text-align: center;

}

.graytexta {
  color: $dark-grey;
}


label.statusicon {
  // color: $dark-grey;
    // font-size: 14px;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  //display: block;
  //text-align: center;

}


.checkiconon {
color: $green;
}

.checkiconoff {
color: $light-grey;
}

.canceledicon {
color: $red;
}

    label.choreherolbl {
      color: $dark-grey;
      font-size: 10px;
      font-weight: 500;
      padding: 12px;
    }



    label.profile-lbl {
      position: relative;
      color: $dark-grey;
      font-size: 14px;
      font-weight: 500;
      display: block;
      margin-left: 10px;
      text-align: left;
    //  left: 10px;
    }



    .details1 {
      font-weight: 600;
      font-size: 14px;
      color: $dark-grey;
    }

    .details {
      font-weight: 400;
      font-size: 13px;
      margin-top: -12px;
    }

    .bar {
        display: block;
    }

    .popup-container .popup {
      height: 180px;
   }
}

div.a {
   -webkit-text-decoration-line: overline;
   text-decoration-line: overline;
}

    //////////////////////////////
          //Progress Bar//
    //////////////////////////////
    #myProgress {
        height: 200px;
        background-color: $light-grey;
        margin-top: 50px;

        .progressBar {
            margin-left: 40px;
            margin-right: 40px;
            background-color: $orange;

            #myBar {
                width: 30%;
                height: 40px;
                background-color: $purple;
                text-align: center;
                line-height: 30px;
                color: $orange;
                font-weight: 700;
            }
        }
    }

//////////////////////////////
    //End Progress Bar//
//////////////////////////////


#jobAppModal {
  .col {
    border: 2px solid black;
  }

}
