<ion-modal-view id="confirm-charge">
    <ion-header-bar class="bar-positive">
      <h1 class="title">{{ chargeTitle }}</h1>
    </ion-header-bar>
    <ion-content class="text-center youGotTheJob">
      <div>
        <i class="icon ion-card"></i>
      </div>
      <h4>{{ chargeMessage }}</h4>
    </div>
    <h5>Thank you for using Chore.</h5>
    <h5>The Chore Team </h5>
      <!-- <p ng-click="closeModal()">Add To Calendar<i class="icon ion-chevron-right pull-right"></i></p> -->
    </ion-content>
  </ion-modal-view>
