<ion-modal-view id="jobAppModal">
    <ion-header-bar class="bar-positive">
      <h1 class="title" color='light'>
        <center>Application Details</center>
      </h1>
    </ion-header-bar>
    <ion-content class="text-center">
      <div>{{applicationDetail.createdBy}}</div>
      <div>{{applicationDetail.createdBy | pandaProfile}}</div>
      <div>{{applicationDetail.status}}</div>
      <div>{{applicationDetail.checkInTime}}</div>
      <div>{{applicationDetail.$id}}</div>
    </ion-content>
    <ion-footer-bar>
    <div class="row">
    <center class="col" ng-click="acceptPanda(applicationDetail)">Accept</center>
    <center class="col" ng-click="declinePanda(applicationDetail)">Decline</center>
    </div>
  </ion-footer-bar>
  </ion-modal-view>
