<ion-modal-view id="jobAppModal">
  <ion-header-bar class="bar-royal">
  </ion-header-bar>
  <ion-content class="text-center">
    <img ng-src="{{applicationDetail.userProfile.profilePicture || '../img/prof-pic_default.png' }}" class="profile-picture-card" alt="panda-profile-image">
    <br/>
    <div><label class="grey-Text">How was your {{applicationDetail.job.type}} chore with {{applicationDetail.userProfile.firstName}}?</label></div>

    <star-rating-comp
                      star-type="'icon'"
                      size="'large'"
                      rating="pendingRating"
                      on-click="onRatingsClick($event)">

    </star-rating-comp>
    <br/>
  </ion-content>
  <ion-footer-bar>
    <div class="row">
      <button class="bottombutton button-assertive" ng-click="closeRatingModal()">Continue</button>
      <!--<center class="col" ng-click="acceptPanda(applicationDetail)">Accept</center>-->
      <!--<center class="col" ng-click="declinePanda(applicationDetail)">Decline</center>-->
    </div>
  </ion-footer-bar>
</ion-modal-view>
