
.jobs-list1 {
  .input-label2 {
   white-space: normal !important;
   max-width: 30% !important;
   left: 25px;
   font-size: 15px;
   color: $orange;
   // width: 100%;
 }
 .job-list{
   margin-bottom: 10px;
   border-radius: 10px;
 }

 div.status-label1{
   background-color: $hover-orange;
   padding: 5px;
   margin-bottom: 10px;
 }


div.status-label{
  background-color: $grey;
  padding: 5px;
  margin-bottom: 10px;
}

label.job-status {
  color: $white;
  // background-color: $grey;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}

.item-note{
  color: $grey;
}

 .list-icon{
   font-size: 20px;
 }
}
