<ion-view view-title="Edit Profile" class="editProfile">
  <ion-content>
    <div class="list">
      <img ng-src="{{profile.profilePicture}}" class="profile-picture" alt="">

      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="{{profile.firstName}}" ng-model="profile.firstName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="{{profile.lastName}}" ng-model="profile.lastName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="{{profile.email}}" ng-model="profile.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="{{profile.mobilePhone}}" ng-model="profile.mobilePhone">
      </label>
      <button class="button button-full button-positive" ng-click="updateProfile()">
          Update Profile
      </button>
    </div>
  </ion-content>
</ion-view>
