<ion-view hide-nav-bar="true" view-title="" class="onboarding consumer-sign-up">
  <ion-content class="onboard-background">

<img class="onboardimg" src='img/homescreen.png'>

  </ion-content>
  <ion-footer-bar class="footeronboard">
    <div class="col">
      <h2>Available Jobs<h2>
        <h1>Select a featured Chore or search through our full list. Add basic details about your Chore (Workers Needed, Hours,Time, Date and Location)<h1>
        <div class="container">
      <div class="circle circlecolor2"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      </div>
      <button class="bottombutton" ng-click="onboarding2()">Next
      </button>
      <br/>
  </div>



</ion-footer-bar>
</ion-view>
