<ion-view view-title="" class="onboarding consumer-sign-up">

  <ion-content class="onboard-background">

  <img class="onboardimg" src='img/chatscreen.png'>

  </ion-content>
  <ion-footer-bar class="footeronboard">
    <div class="col">
      <h2>Communication<h2>
        <h1>Stay in touch with your Chore Heros through messaging and let them know if any problems arise before the chore is scheduled.<h1>
        <div class="container">
      <div class="circle circlecolor2"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      </div>
      <button class="bottombutton" ng-click="onboardingExit()">Next
      </button>
      <br/>
  </div>



  </ion-footer-bar>
</ion-view>
