<ion-view view-title="" class="onboarding consumer-sign-up">
  <ion-content class="onboard-background">

<img class="onboardimg" src='img/startrequestconsumer.png'>

  </ion-content>
  <ion-footer-bar class="footeronboard">
    <div class="col">
      <h2>Details and Information<h2>
        <h1>You will be notified when a chore hero has accepted your job and when they are at your residence requesting to start work.<h1>
        <div class="container">
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor2"></div>
      <div class="circle circlecolor1"></div>
      <div class="circle circlecolor1"></div>
      </div>
      <button class="bottombutton" ng-click="onboarding3()">Next
      </button>
      <br/>
  </div>
</ion-footer-bar>
</ion-view>
