<ion-view view-title="Profile Photo" class="panda-sign-up  consumer-sign-up">
  <ion-content>
    <div class="add-profile-picture">
      <!-- TODO: change that href to send you to stripe connect page -->
      <a ng-if="!profile.profilePicture" href="#/home" class="skip-button">Skip</a>
      <!-- <a ng-if="!profile.profilePicture" ng-click="onboarding1()" class="skip-button">Skip</a> -->
      <a ng-if="profile.profilePicture" ng-click=“doGetImage()“>
        <img ng-src="{{profile.profilePicture}}" class="profile-picture" alt="Profile Picture">
      </a>
      <div ng-if="!profile.profilePicture" ng-click="doGetImage()" class="profile-picture add">Add Photo</div>
      <h4>{{ profile.firstName }} {{ profile.lastName}}</h4>
      <!-- <a ng-if="profile.profilePicture" ng-click="onboarding1()" class="button button-rounded button-positive">Continue</a> -->
      <!-- TODO: change that href to send you to stripe connect page -->
      <!-- <a ng-if="profile.profilePicture" href="#/home" class="button button-rounded button-positive">Continue</a> -->
    </div>
  </ion-content>
  <ion-footer-bar class="footeronboard">
    <div class="col">
      <h2>Add Profile Image<h2>
        <h1>Add a square profile image above to give workers trust and transparency when you show up to their home or business.<h1>
          <div class="container">
            <div class="circle circlecolor1"></div>
            <div class="circle circlecolor1"></div>
            <div class="circle circlecolor1"></div>
            <div class="circle circlecolor2"></div>
          </div>
          <button class="bottombutton" ng-click="goHome()">Next
          </button>
          <br/>
    </div>
  </ion-footer-bar>

</ion-view>
 <!-- href="#/app/consumer/create-job" -->
