<ion-view view-title="Settings (Consumer)" class="">

  <ion-content>
    <div class="item item-divider">
      ACCOUNT
    </div>
    <div class="item item-divider">
    <div class="item item-button-right" ng-click="editProfile()">
      Edit Profile
      <button class="buttonarrow">
    <i class="icon ion-chevron-right"></i>
  </button>
    </div>
    <div class="item item-button-right">
      Edit Preferences
      <button class="button button-positive">
    <i class="icon ion-chevron-right"></i>
  </button>
    </div>
    <div class="item item-button-right">
      Change Password
      <button class="buttonarrow" ng-click="resetPassword()">
    <i class="icon ion-chevron-right" ></i>
  </button>
    </div>
    <ul class="list">
      <div class="item item-divider">
        NOTIFICATIONS
      </div>
      <li class="item item-toggle">
        Job Accepted
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Job Begins
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Job Completed
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
        Received Payment
        <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <div class="item item-divider">
        INFO
      </div>
      <div class="item item-button-right">
        About
        <button class="button button-positive">
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
      <div class="item item-button-right">
        Terms of Service
        <button class="button button-positive" ng-click="terms()">
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
      <div class="item item-button-right">
        Privacy Policy
        <button class="button button-positive" ng-click=""><a href="#/app/privacy.html"></a>
      <i class="icon ion-chevron-right"></i>
    </button>
      </div>
    </ul>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-full button-positive" ng-click="signOut()">Logout</button>
  </div>
</ion-view>
