<ion-view view-title="Create Account" class="consumer-sign-up">
  <ion-content class="padding-horizontal has-footer">
    <form name="consumerSignUpForm" ng-submit="register(consumerSignUpForm)" novalidate>
      <div class="list">
        <label class="item item-input" ng-class="{ 'form-errors' : consumerSignUpForm.firstName.$touched && consumerSignUpForm.firstName.$error.required }">
          <span class="input-label">First Name</span>
          <input type="text" name="firstName" ng-model="user.firstName" required>
        </label>
        <label class="item item-input" ng-class="{ 'form-errors' : consumerSignUpForm.lastName.$touched && consumerSignUpForm.lastName.$error.required }">
          <span class="input-label">Last Name</span>
          <input type="text" name="lastName" ng-model="user.lastName" required>
        </label>
        <label class="item item-input" ng-class="{ 'form-errors' : consumerSignUpForm.email.$touched && consumerSignUpForm.email.$error.required || consumerSignUpForm.email.$touched && consumerSignUpForm.email.$invalid || error.email }">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="user.email" required>
        </label>
        <label class="item item-input" ng-class="{ 'form-errors' : consumerSignUpForm.password.$touched && consumerSignUpForm.password.$error.required || consumerSignUpForm.password.$touched && consumerSignUpForm.password.$error.minlength || error.password }">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="user.password"  minlength="6" required>
        </label>
        <label class="item item-input" ng-class="{ 'form-errors' : consumerSignUpForm.confirmPassword.$dirty && user.confirmPassword !== user.password || error.confirmPassword }">
          <span class="input-label">Confirm Password</span>
          <input type="password" name="confirmPassword" ng-model="user.confirmPassword"  minlength="6" required>
        </label>
        <label class="item item-input"  ng-class="{ 'form-errors' : consumerSignUpForm.mobilePhone.$touched && consumerSignUpForm.mobilePhone.$error.required || consumerSignUpForm.mobilePhone.$touched && consumerSignUpForm.mobilePhone.$error.pattern}">
          <span class="input-label">Mobile Phone</span>
          <input type="tel" pattern="^\d{3}\d{3}\d{4}$" name="mobilePhone" ng-model="user.mobilePhone" required>
        </label>
      </div>
      <div class="error-block">
          <p ng-show="consumerSignUpForm.firstName.$touched && consumerSignUpForm.firstName.$error.required">First name is required</p>
          <p ng-show="consumerSignUpForm.lastName.$touched && consumerSignUpForm.lastName.$error.required">Last name is required</p>
          <p ng-show="consumerSignUpForm.email.$touched && (consumerSignUpForm.email.$error.required || consumerSignUpForm.email.$invalid)">Valid email address required</p>
          <p ng-show="consumerSignUpForm.password.$touched && consumerSignUpForm.password.$error.required || consumerSignUpForm.password.$touched && consumerSignUpForm.password.$error.minlength">Password must be at least 6 characters</p>
          <p ng-show="consumerSignUpForm.confirmPassword.$touched && consumerSignUpForm.confirmPassword.$error.required || consumerSignUpForm.confirmPassword.$dirty && user.password != user.confirmPassword">Passwords don't match</p>
          <p ng-show="consumerSignUpForm.mobilePhone.$touched && consumerSignUpForm.mobilePhone.$error.required || consumerSignUpForm.mobilePhone.$touched && consumerSignUpForm.mobilePhone.$error.pattern">Mobile phone number must be 10 digits</p>
          <p ng-show="error.message">{{ error.message }}</p>
      </div>
      <input type="submit" id="submit" value="Submit" style="display:none"/>
    </form>
    <div class="policy-block">
      By clicking on the button below you agree to have read Chore's Policy. <a ui-sref="app.privacy"> (Tap here to View Policy) Chore Inc's Policy.</a>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-positive" ng-click="onboarding1()">
    <label for="submit" class="title">Agree &amp; Create Account</label>
  </div>
</ion-view>
