.jobs-list {
  .input-label2 {
   white-space: normal !important;
   max-width: 35% !important;
   //left: 15px;
   font-size: 18px;
  // color: $grey !important;
   // width: 100%;
 }
 .job-list{
   margin-bottom: 10px;
   border-radius: 10px;
 }

 .item-note{
   color: $grey;
 }


 .list-icon{
   font-size: 20px;
 }
}
